


<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Edit Assigned Fee</strong></h4>

        <div class="w3-container">
          <br/>
          <%#= simple_form_for(@assigned_fee, :data => {  :remote => true, count: params[:count], page: params[:page]}) do |f| %>
          <%= simple_form_for(@assigned_fee, url: assigned_fee_path(@assigned_fee, code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page] ),:remote => true) do |f| %>
              <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="w3-half">
              <%#= f.input :trans_type,  label: "Trans Type", collection: [["Customer to Merchant (CTM)", "CTM"], ["Merchant to Customer (MTC)", "MTC"]], label_method: :first, value_method: :last, required: true, input_html:{id: "trans_type", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%"}  %>
              <%= f.input :fee,  label: "Fee", value_method: :id, required: true, input_html:{id: "fee", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%"}  %>
              <%= f.input :flat_percent,  label: "Rate Type", collection: [["Fixed", "F"], ["Percentage", "P"]], label_method: :first, value_method: :last, required: true, input_html:{id: "flat_percent", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%"}  %>
              <%= f.input :cap,  label: "Cap", value_method: :id, required: false, input_html:{id: "cap", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%"}  %>

            </div>

            
            <div class="w3-half">
              <%= f.input :limit_capped,  label: "Capped Limit", value_method: :id, required: false, input_html:{id: "limit_capped", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
              <%= f.input :charged_to,  label: "Charged To:", collection: [["Merchant", "M"], ["Customer", "C"]], label_method: :first, value_method: :last, required: true, input_html:{id: "charge", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
              <%= f.input :comment,  label: "Comment", :as => :text, value_method: :id, required: false, input_html:{rows: 5, cols: 3, autocomplete: "off",class:"form-control w3-border ",style:""}  %>

            </div>


            <%#= f.input :trans_type, :as => :hidden, input_html:{value: "CTM"} %>
            <%= f.input :active_status, :as => :hidden, input_html:{value: true} %>
            <%= f.input :del_status, :as => :hidden, input_html:{value: false} %>
            <%= f.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>
            <div>
              <%= f.submit "Submit", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Please Wait...'}, style: "width:auto;float:center;",remote:true %>
              <%= link_to 'Back', assigned_fee_index_path(entity_code: params[:entity_code], code: params[:code], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
            </div>
          <% end %>
          <br/>
        </div>


      </div>

    </div>


    <div class="col-md-7 col-md-offset-5">
    </div>




    <br/>
    <div class="col-md-7 col-md-offset-5">
      <br/>
      <br/>
    </div>
    <!--</div>-->

  </div>
</div>

