
<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>

    <div class="">

      <%
        act_sub_div = ActivitySubDiv.where(id: @activity_div.activity_sub_plan_id).first
        classify_sub_div = act_sub_div ? ActivitySubDivClass.where(id: act_sub_div.classification).first : false
      %>
      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Bulk Ticketing Details</strong></h4>
        <p id="notice17"><strong></strong></p>
        <div class="w3-container">
          <br/>

          <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Ticket Types:</strong></td>
              <td><strong><%= classify_sub_div.class_desc if classify_sub_div %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Customer Name:</strong></td>
              <td><strong><%= @activity_div.customer_name %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Recipient Number:</strong></td>
              <td><strong><%= @activity_div.recipient_number %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Network:</strong></td>
              <td><strong><%= @activity_div.nw %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Recipient Email:</strong></td>
              <td><strong><%= @activity_div.recipient_email %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Amount:</strong></td>
              <td><strong><%= @activity_div.amt %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Quantity:</strong></td>
              <td><strong><%= @activity_div.qty %></strong></td>
            </tr>


<!--            <tr>-->
<!--              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Date:</strong></td>-->
<!--              <td>-->
<!--                <strong><%#= @activity_div.created_at %></strong>-->
<!--              </td>-->
<!--            </tr>-->

          </table>

          <br/>
          <div class="w3-center">
            <%= link_to 'Back', activity_div_index_path(entity_code: params[:entity_code], code: params[:code], page: params[:page], count: params[:count]), class: 'w3-bar-item w3-btn w3-ripple w3-round-large w3-dark-gray', remote: true %>
          </div>
          <br/>
        </div>

      </div>

    </div>

    <!--</div>-->

  </div>
</div>




