<p id="notice"><%= notice %></p>

<p>
  <strong>Division code:</strong>
  <%= @activity_div.division_code %>
</p>

<p>
  <strong>Activity date:</strong>
  <%= @activity_div.activity_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @activity_div.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @activity_div.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @activity_div.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity_div.user_id %>
</p>

<%= link_to 'Edit', edit_activity_div_path(@activity_div) %> |
<%= link_to 'Back', activity_divs_path %>
