<p id="notice"><%= notice %></p>

<h1>Assigned Service Codes</h1>

<table>
  <thead>
    <tr>
      <th>Entity div code</th>
      <th>Service code</th>
      <th>Comment</th>
      <th>Active status</th>
      <th>Del status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigned_service_codes.each do |assigned_service_code| %>
      <tr>
        <td><%= assigned_service_code.entity_div_code %></td>
        <td><%= assigned_service_code.service_code %></td>
        <td><%= assigned_service_code.comment %></td>
        <td><%= assigned_service_code.active_status %></td>
        <td><%= assigned_service_code.del_status %></td>
        <td><%= assigned_service_code.user_id %></td>
        <td><%= link_to 'Show', assigned_service_code %></td>
        <td><%= link_to 'Edit', edit_assigned_service_code_path(assigned_service_code) %></td>
        <td><%= link_to 'Destroy', assigned_service_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assigned Service Code', new_assigned_service_code_path %>
