<p id="notice"><%= notice %></p>

<p>
  <strong>Division code:</strong>
  <%= @entity_wallet_config.division_code %>
</p>

<p>
  <strong>Service:</strong>
  <%= @entity_wallet_config.service_id %>
</p>

<p>
  <strong>Secret key:</strong>
  <%= @entity_wallet_config.secret_key %>
</p>

<p>
  <strong>Client key:</strong>
  <%= @entity_wallet_config.client_key %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @entity_wallet_config.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @entity_wallet_config.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @entity_wallet_config.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @entity_wallet_config.user_id %>
</p>

<%= link_to 'Edit', edit_entity_wallet_config_path(@entity_wallet_config) %> |
<%= link_to 'Back', entity_wallet_configs_path %>
