
<div>
  <br>
  <p id="notes10"><%#= notice %></p>
  <br>
  <h4>Merchant Admin Whitelist(s)</h4>
  <div>

<!--    <div class="w3-half">-->
      <%#= link_to 'NEW', new_entity_admin_whitelist_path(entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <%#= link_to 'BACK', entity_division_index_path(entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
<!--    </div>-->

    <div class="w3-half">
      <%= select_tag :count, options_for_select([50, 100, 150, 200, 500], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "entity_admin_whitelists", :action => "entity_admin_whitelist_index",
                                                                  :params => { entity_code: params[:entity_code], code: params[:code]})},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>
    </div>
  </div>
  <br>
  <div class="w3-container w3-responsive pre-scrollable w3-mobile table-responsive-md">

    <table class=" w3-responsive table-striped w3-table-all table-bordered w3-hoverable w3-card-4">
      <thead>

      <tr>
        <th class="w3-topbar" colspan="2"></th>
        <th class="w3-topbar" colspan="2">GROSS BALANCE</th>
        <th class="w3-topbar" colspan="2">NET BALANCE</th>
        <th class="w3-topbar" colspan="2"></th>
      </tr>

      <tr>
        <td class="" colspan="2"></td>
        <td class="" colspan="2"><%= @service_account.gross_bal %></td>
        <td class="" colspan="2"><%= @service_account.net_bal %></td>
        <td class="" colspan="2"></td>
      </tr>

      <tr class="w3-vpos-purple">
        <th>No.</th>
        <th>Trans. ID</th>
        <th>Gross Bal (Before)</th>
        <th>Gross Bal (After)</th>
        <th>Net Bal (Before)</th>
        <th>Net Bal (After)</th>
        <th>Charges</th>
        <th>Trans Type</th>
        <!--                      <th></th>-->
      </tr>
      </thead>
      <tbody>


      <% if @service_account_details.exists? %>
        <% logger.info "SERVICE ACCOUNT DETAILS PASSED ===============================" %>
        <% @service_account_details.each_with_index do |acount_details, num| %>
          <tr>
            <td><%= num + 1 %></td>
            <td><%= acount_details.processing_id %></td>
            <td><%= acount_details.gross_bal_bef %></td>
            <td><%= acount_details.gross_bal_aft %></td>
            <td><%= acount_details.net_bal_bef %></td>
            <td><%= acount_details.net_bal_aft %></td>
            <td><%= acount_details.charge %></td>
            <td><%= acount_details.trans_type %></td>

          </tr>

        <% end %>

      <% end %>

      </tbody>
    </table>

  </div>
    <%# unless params[:count] == "All" %>
<!--      <div class="flickr_pagination"  style="float: right">-->
        <%#= will_paginate @entity_admin_whitelists, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "entity_admin_whitelists", :action => "entity_admin_whitelist_index", entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page] } %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->


</div>


<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
