
<%= simple_form_for(@entity_service_account_trxn) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :entity_div_code %>
    <%= f.input :gross_bal_bef %>
    <%= f.input :gross_bal_aft %>
    <%= f.input :net_bal_bef %>
    <%= f.input :net_bal_aft %>
    <%= f.input :processing_id %>
    <%= f.input :charge %>
    <%= f.input :trans_type %>
    <%= f.input :comment %>
    <%= f.input :active_status %>
    <%= f.input :del_status %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
