<p id="notice"><%= notice %></p>

<p>
  <strong>Entity div code:</strong>
  <%= @entity_service_account_trxn.entity_div_code %>
</p>

<p>
  <strong>Gross bal bef:</strong>
  <%= @entity_service_account_trxn.gross_bal_bef %>
</p>

<p>
  <strong>Gross bal aft:</strong>
  <%= @entity_service_account_trxn.gross_bal_aft %>
</p>

<p>
  <strong>Net bal bef:</strong>
  <%= @entity_service_account_trxn.net_bal_bef %>
</p>

<p>
  <strong>Net bal aft:</strong>
  <%= @entity_service_account_trxn.net_bal_aft %>
</p>

<p>
  <strong>Processing:</strong>
  <%= @entity_service_account_trxn.processing_id %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @entity_service_account_trxn.charge %>
</p>

<p>
  <strong>Trans type:</strong>
  <%= @entity_service_account_trxn.trans_type %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @entity_service_account_trxn.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @entity_service_account_trxn.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @entity_service_account_trxn.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @entity_service_account_trxn.user_id %>
</p>

<%= link_to 'Edit', edit_entity_service_account_trxn_path(@entity_service_account_trxn) %> |
<%= link_to 'Back', entity_service_account_trxns_path %>
