
<div>
  <br>
  <p id="notes20"><%#= notice %></p>
  <% if params[:code] && (current_user.super_admin? || current_user.super_user?) %>
    <h4>Loan Request for <%= @service_names %></h4>
  <%  end %>
  <br>
  <div>
    <div class="w3-third">
      <button type="button" onclick="document.getElementById('loan_req_filter').style.display='block'" style="font-size: small; width: 200px;" class="w3-btn btn btn-outline-purple tablink w3-vpos-purple">LOAN REQUEST FILTER</button>

      <% if params[:code] && (current_user.super_admin? || current_user.super_user?) %>
        <%= link_to 'BACK', entity_division_index_path(code: params[:code], entity_code: params[:entity_code], filter_main: session[:loan_req_filter].present? ? session[:loan_req_filter].to_enum.to_h : "", count1: params[:count1], count: params[:count], page: $entity_division_page), style: "width:120px;",
                    class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <% end %>

    </div>
    <% if @loan_requests.exists? && @loan_requests.size > 0 %>
    <div class="w3-third" style="padding-bottom: 15px">
      <strong>Download::</strong>
      <%= link_to "CSV", '#', id: "csv", class: 'w3-bar-item w3-btn w3-card-4 w3-dark-grey w3-small w3-round-xlarge w3-ripple' %>
      <div class="csv_div hidden" style="display: none">
        <%= form_tag loan_request_index_path(format: "csv"), method: :get, input_html: {display: "block", id: "csv_form"} do %>
          <input class="form-control" name="division_code" value="<%= params[:code] %>"/>
          <input class="form-control" name="full_name" value="<%= params[:full_name] %>"/>
          <input class="form-control" name="id_number" value="<%= params[:id_number] %>"/>
          <input class="form-control" name="ref_number" value="<%= params[:ref_number] %>"/>
          <input class="form-control" name="location" value="<%= params[:location] %>"/>
          <input class="form-control" name="amount" value="<%= params[:amount] %>"/>
          <input class="form-control" name="comment" value="<%= params[:comment] %>"/>
          <input class="form-control" name="status" value="<%= params[:status] %>"/>
          <input class="form-control" name="start_date" value="<%= params[:start_date] %>"/>
          <input class="form-control" name="end_date" value="<%= params[:end_date] %>"/>
          <input class="form-control" name="count" value="<%= params[:count] %>"/>
          <input class="form-control" name="page" value="<%= params[:page] %>"/>
          <input class="form-control" name="filter_main" value="<%= params[:filter_main].present? ? params[:filter_main].to_unsafe_h : "" %>"/>
<!--          <input class="form-control" name="count1" value="<%#= params[:count1] %>"/>-->
<!--          <input class="form-control" name="page1" value="<%#= params[:page1] %>"/>-->
<!--          <input class="form-control" name="count2" value="<%#= params[:count2] %>"/>-->
<!--          <input class="form-control" name="page2" value="<%#= params[:page2] %>"/>-->
          <input type="submit" value="Search" id="csv_submit">
        <% end %>
      </div>

      <%#= link_to "Excel", '#', id: "excel", class: 'w3-bar-item w3-btn w3-card-4 w3-black w3-small w3-round-xlarge w3-ripple' %>
<!--      <div class="excel_div hidden" style="display: none">-->
        <%#= form_tag loan_request_index_path(format: "xls"), method: :get, input_html: {display: "block", id: "excel_form"} do %>
<!--          <input class="form-control" name="division_code" value="<%#= @loan_requests[0].division_code %>"/>-->
<!--          <input class="form-control" name="full_name" value="<%#= params[:full_name] %>"/>-->
<!--          <input class="form-control" name="id_number" value="<%#= params[:id_number] %>"/>-->
<!--          <input class="form-control" name="ref_number" value="<%#= params[:ref_number] %>"/>-->
<!--          <input class="form-control" name="location" value="<%#= params[:location] %>"/>-->
<!--          <input class="form-control" name="amount" value="<%#= params[:amount] %>"/>-->
<!--          <input class="form-control" name="comment" value="<%#= params[:comment] %>"/>-->
<!--          <input class="form-control" name="status" value="<%#= params[:status] %>"/>-->
<!--          <input class="form-control" name="start_date" value="<%#= params[:start_date] %>"/>-->
<!--          <input class="form-control" name="end_date" value="<%#= params[:end_date] %>"/>-->
<!--          <input class="form-control" name="count" value="<%#= params[:count] %>"/>-->
<!--          <input class="form-control" name="page" value="<%#= params[:page] %>"/>-->
<!--          <input class="form-control" name="count1" value="<%#= params[:count1] %>"/>-->
<!--          <input class="form-control" name="page1" value="<%#= params[:page1] %>"/>-->
<!--          <input class="form-control" name="count2" value="<%#= params[:count2] %>"/>-->
<!--          <input class="form-control" name="page2" value="<%#= params[:page2] %>"/>-->
<!--          <input class="form-control" name="filter_main" value="<%#= params[:filter_main].present? ? params[:filter_main].to_unsafe_h : "" %>"/>-->
<!--          <input type="submit" value="Search" id="excel_submit">-->
        <%# end %>
<!--      </div>-->

    </div>
    <%# else %>
<!--    <div class="w3-third" style="padding-bottom: 15px">-->
<!--      <strong>Download::</strong>-->
<!--      <button class="w3-bar-item w3-btn w3-disabled w3-card-4 w3-black w3-small w3-round-xlarge w3-ripple" style="width:100px; height: 30px; ">CSV</button> |-->
<!--      <button class="w3-bar-item w3-btn w3-disabled w3-card-4 w3-black w3-small w3-round-xlarge w3-ripple" style="width:100px; height: 30px; ">Excel</button>-->
<!--    </div>-->

    <% end %>

    <div class="w3-third">
      <%= select_tag :count2, options_for_select([50, 100, 150, 200, 500], params[:count2].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "loan_requests", :action => "loan_request_index",
                                                                  :params => {code: params[:code], entity_code: params[:entity_code],
                                                                              count1: params[:count1], filter_main: session[:loan_req_filter].present? ? session[:loan_req_filter].to_enum.to_h : "",
                                                                              count: params[:count], page: params[:page] })},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <% unless params[:code] && (current_user.super_admin? || current_user.super_user?) %>
          <th>Service Name</th>
        <% end %>
        <th>Full Name</th>
        <th>ID Number</th>
        <th>Reference No.</th>
        <th>Amount</th>
<!--        <th>Status</th>-->
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @loan_requests.each do |loan_request| %>
        <% @entity_divi = EntityDivision.where(active_status: true, assigned_code: loan_request.division_code).order(created_at: :desc).first %>
        <tr>

          <% unless params[:code] && (current_user.super_admin? || current_user.super_user?) %>
            <td><%= @entity_divi.division_name if @entity_divi %></td>
          <% end %>
          <td><%= loan_request.full_name %></td>
          <td><%= loan_request.id_number %></td>
          <td><%= loan_request.ref_number %></td>
          <td><%= loan_request.amount %></td>
          <%# if loan_request.active_status %>
<!--            <td>Active</td>-->
          <%# else %>
<!--            <td>Inactive</td>-->
          <%# end %>
          <td><%= loan_request.created_at %></td>
          <td>
            <%= link_to 'VIEW', loan_request_path(loan_request, code: params[:code], entity_code: params[:entity_code],
                                                  filter_main: session[:loan_req_filter].present? ? session[:loan_req_filter].to_enum.to_h : "",
                                                  count1: params[:count1], count2: params[:count2], count: params[:count], page: params[:page]),
                          style: "width:60px; height: 30px;",
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
        
    <% unless params[:count2] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @loan_requests, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "loan_requests", :action => "loan_request_index", code: params[:code],
                                       entity_code: params[:entity_code], count1: params[:count1],
                                       filter_main: session[:loan_req_filter].present? ? session[:loan_req_filter].to_enum.to_h : "",
                                       count2: params[:count2], count: params[:count], page: params[:page] } %>
      </div>
    <% end %>
  </div>


</div>

<%= render "filter" %>

<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });



    $('#csv').click(function () {
        console.log('works!');
        $('#csv_submit').click();
        console.log('works!');


    });

    /////////////////////////////////////////////////////////////

    $('#excel').click(function () {
        $('#excel_submit').click();
    });

    $('#csv_all').click(function () {
        $('#csv_all_submit').click();
    });

</script>
