<p id="notice"><%= notice %></p>

<h1>Loan Requests</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Id number</th>
      <th>Ref number</th>
      <th>Location</th>
      <th>Amount</th>
      <th>Comment</th>
      <th>Active status</th>
      <th>Del status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_requests.each do |loan_request| %>
      <tr>
        <td><%= loan_request.full_name %></td>
        <td><%= loan_request.id_number %></td>
        <td><%= loan_request.ref_number %></td>
        <td><%= loan_request.location %></td>
        <td><%= loan_request.amount %></td>
        <td><%= loan_request.comment %></td>
        <td><%= loan_request.active_status %></td>
        <td><%= loan_request.del_status %></td>
        <td><%= loan_request.user_id %></td>
        <td><%= link_to 'Show', loan_request %></td>
        <td><%= link_to 'Edit', edit_loan_request_path(loan_request) %></td>
        <td><%= link_to 'Destroy', loan_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan Request', new_loan_request_path %>
