<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @loan_request.full_name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @loan_request.id_number %>
</p>

<p>
  <strong>Ref number:</strong>
  <%= @loan_request.ref_number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @loan_request.location %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan_request.amount %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @loan_request.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @loan_request.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @loan_request.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @loan_request.user_id %>
</p>

<%= link_to 'Edit', edit_loan_request_path(@loan_request) %> |
<%= link_to 'Back', loan_requests_path %>
