

<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Edit Merchant Information</strong></h4>

        <div class="w3-container">
          <br/>
          <%= simple_form_for(@new_record, url: entity_infos_path(@new_record, count: params[:count], page: params[:page] ), remote: true) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <%= f.input :assigned_code, :as => :hidden, input_html:{value: @entity_info.assigned_code} %>
              <%= f.input :action_type, :as => :hidden, input_html:{value: "for_update"} %>
              <div class="w3-half">
              <%= f.input :entity_name,  label: "Merchant Name", required: true, input_html:{id: "entity_name", value: @entity_info.entity_name, autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%;"}  %>

              <%= f.input :entity_alias,  label: "Merchant Alias", required: true, input_html:{id: "entity_alias", value: @entity_info.entity_alias, autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%;"}  %>

              <%= f.input :entity_cat_id,  label: "Merchant Category", selected: @entity_info.entity_cat_id, collection: @entity_categories, label_method: :entity_cat_name_join, value_method: :assigned_code, required: true, input_html:{id: "id_region", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%;"}  %>

              <%= f.simple_fields_for :entity_info_extras do |ff| %>
                    <%= ff.input :entity_code, :as => :hidden, input_html:{value: @entity_info.assigned_code} %>
                  <%= ff.input :contact_number,  label: "Contact Number", value_method: :id, required: true, input_html:{id: "contact_no", value: @entity_info_extra.contact_number, autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%;"}  %>
                  <%#= ff.input :api_key,  label: "Sms Key", value_method: :id, required: true, input_html:{id: "api_key", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%; height: 25px"}  %>
                  <%= ff.input :web_url,  label: "Web Url", required: true, input_html:{id: "web_url", value: @entity_info_extra.web_url, autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%;"}  %>
                  <%= ff.input :contact_email,  label: "Email", required: true, input_html:{id: "contact_email", value: @entity_info_extra.contact_email, autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%;"}  %>
              </div>
                  <div class="w3-half">
                    <%#= f.input :unit_id,  label: "Product Unit", collection: @product_units, label_method: :district_desc, value_method: :id, required: true, input_html:{id: "prod_unit", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
                    <%#= ff.input :comment,  label: "Comment", :as => :text, value_method: :id, required: true, input_html:{id: "title_id", rows: 3, cols: 3, autocomplete: "off",class:"form-control w3-border ",style:""}  %>
                    <%= ff.input :active_status, :as => :hidden, input_html:{value: true} %>
                    <%#= ff.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>
                    <%= ff.input :location_address,  label: "Location Address", :as => :text, required: false, input_html:{rows: 3, cols: 3, value: @entity_info_extra.location_address, autocomplete: "off",class:"form-control w3-border ",style:""}  %>
                    <%= ff.input :postal_address,  label: "Postal Address", :as => :text, required: false, input_html:{rows: 3, cols: 3, value: @entity_info_extra.postal_address, autocomplete: "off",class:"form-control w3-border ",style:""}  %>


              <% end %>


              <%= f.input :comment,  label: "Comment", :as => :text, value_method: :id, required: true, input_html:{rows: 3, cols: 3, autocomplete: "off",class:"form-control w3-border ",style:""}  %>
                </div>
              <%#= f.input :active_status, :as => :hidden, input_html:{value: true} %>
              <%#= f.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>
              <div>
                <%= f.submit "Submit", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Please Wait...'}, style: "width:auto;float:center;",remote:true %>
                <%= link_to 'Back', entity_info_index_path(page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
              </div>
          <% end %>
          <br/>
        </div>


      </div>

    </div>


    <div class="col-md-7 col-md-offset-5">
    </div>

    <br/>
    <div class="col-md-7 col-md-offset-5">
      <br/>
      <br/>
    </div>
    <!--</div>-->

  </div>
</div>