
<div>
  <br>
  <p id="notes1"><%#= notice %></p>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_entity_info_path(count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
    </div>
    <div class="w3-half">
      <%= select_tag :count, options_for_select([10,20,30,40,50], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "entity_infos", :action => "entity_info_index")},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Merchant Name (Merchant Alias)</th>
        <!--<th>Category Name (Category code)</th>-->
        <th>Status</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @entity_infos.each do |entity_info| %>

          <tr>
            <td><%= link_to 'VIEW', entity_info_path(entity_info, count: params[:count], page: params[:page]),
                            style: "width:100px; height: 30px;",
                            class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%></td>
            <td><strong><%= entity_info.entity_name %> (<%= entity_info.entity_alias %>)</strong></td>
            <!--<td><strong><%#= entity_info.entity_category.category_name %> (<%#= entity_info.entity_category.assigned_code %>)</strong></td>-->
            <% if entity_info.active_status %>
                <td><strong>Active</strong></td>
            <% else %>
                <td><strong>Inactive</strong></td>
            <% end %>
            <td><strong><%= entity_info.created_at %></strong></td>
            <td>
              <% if entity_info.active_status && entity_info.del_status == false %>
                  <%= link_to 'EDIT', edit_entity_info_path(entity_info, count: params[:count], page: params[:page]),
                              style: "width:100px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% else %>
                  <button class="w3-button w3-white w3-disabled w3-border w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">EDIT</button>
            <% end %>

              <% if entity_info.active_status %>
                  <%= link_to 'DISABLE', entity_info_path(entity_info, count: params[:count], page: params[:page]),
                              style: "width:100px; height: 30px; color: #800754 !important",
                              method: :delete, data: { confirm: "Do you wish to disable: #{entity_info.entity_name} (#{entity_info.entity_alias})?" },
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% else %>
                  <%= link_to 'ENABLE', entity_info_path(entity_info, count: params[:count], page: params[:page]),
                              style: "width:100px; height: 30px;",
                              method: :delete, data: { confirm: "Do you wish to enable: #{entity_info.entity_name} (#{entity_info.entity_alias})?" },
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% end %>

            </td>
          </tr>

      <% end %>

      </tbody>
    </table>
  </div>


</div>


<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
