
<div class="container">
  <!--<div class="row">-->
  <!--<h4 style="text-decoration: underline;"><strong>MERCHANTS   </strong></h4>-->



  <div class="w3-responsive">
    <% if current_user.super_admin? || current_user.super_user? #|| current_user.merchant_admin? %>
      <button type="button" class="btn btn-outline-purple tablink w3-vpos-purple" style="font-size: small; width: 120px;" onclick="openCity(event, 'entity_info')">MERCHANTS</button>
    <% end %>

    <% if current_user.super_admin? || current_user.super_user? %>
      <button type="button" class="btn btn-outline-purple tablink" style="font-size: small; width: 165px;" onclick="openCity(event, 'entity_division')">MERCHANT SERVICE</button>
    <% else %>
      <button type="button" class="btn btn-outline-purple tablink w3-vpos-purple" style="font-size: small; width: 165px;" onclick="openCity(event, 'entity_division')">MERCHANT SERVICE</button>
    <% end %>
    <button type="button" class="btn btn-outline-purple tablink" style="font-size: small; width: 165px;" onclick="openCity(event, 'sports')">SPORTS SETUP</button>
  </div>

  <% if current_user.super_admin? || current_user.super_user? %>
    <div id="entity_info" class="city active">
      <%= render :partial=> "entity_info_index" %>
    </div>
  <% end %>

  <% if current_user.super_admin? || current_user.super_user? %>
    <div id="entity_division" class="city" style="display:none">
      <%= render :partial=> "/entity_divisions/entity_index" %>
    </div>
  <% elsif current_user.merchant_admin?  %>
    <div id="entity_division" class="city active">
      <% params[:entity_code] = current_user.entity_code %>
      <%= render :partial=> "/entity_divisions/entity_division_index" %>
    </div>
  <% end %>


  <% if current_user.super_admin? || current_user.super_user? #|| current_user.merchant_admin? %>
    <div id="sports" class="city" style="display:none">
      <%= render :partial=> "/entity_infos/sports_index" %>
    </div>
  <% elsif current_user.merchant_admin? %>
    <%# an_entity_info = EntityInfo.where(active_status: true, assigned_code: current_user.entity_code).order(created_at: :desc).first %>
    <%# if an_entity_info %>
      <%# if an_entity_info.entity_cat_id == "SPO" #|| an_entity_div.activity_type_code == "SHW" %>

      <%# else %>
      <%# end %>
    <%# end %>
    <div id="sports" class="city" style="display:none">
      <% params[:entity_code] = current_user.entity_code %>
      <%= render :partial=> "/entity_divisions/main_sports_index" %>
    </div>
  <% elsif current_user.merchant_service? %>
    <% an_entity_div = EntityDivision.where(active_status: true, assigned_code: current_user.division_code).order(created_at: :desc).first %>
    <% if an_entity_div %>
      <% if an_entity_div.activity_type_code == "SPO" #|| an_entity_div.activity_type_code == "SHW" %>
        <div id="sports" class="city" style="display:none">
          <% params[:entity_code] = current_user.entity_code %>
          <%= render :partial=> "/entity_divisions/main_sports_index" %>
        </div>
      <% else %>
      <% end %>
    <% end %>
  <% end %>



  <script>
    function openCity(evt, cityName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("city");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-vpos-purple", "");
      }

      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " w3-vpos-purple";
    }
  </script>

  <!--</div>-->
</div>
