<p id="notice"><%= notice %></p>

<p>
  <strong>Assigned code:</strong>
  <%= @entity_info.assigned_code %>
</p>

<p>
  <strong>Entity name:</strong>
  <%= @entity_info.entity_name %>
</p>

<p>
  <strong>Entity alias:</strong>
  <%= @entity_info.entity_alias %>
</p>

<p>
  <strong>Entity cat:</strong>
  <%= @entity_info.entity_cat_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @entity_info.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @entity_info.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @entity_info.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @entity_info.user_id %>
</p>

<%= link_to 'Edit', edit_entity_info_path(@entity_info) %> |
<%= link_to 'Back', entity_infos_path %>
