<div id="<%= dom_id external_services_param %>">
  <p>
    <strong>Entity div code:</strong>
    <%= external_services_param.entity_div_code %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= external_services_param.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= external_services_param.password %>
  </p>

  <p>
    <strong>Company code:</strong>
    <%= external_services_param.company_code %>
  </p>

  <p>
    <strong>Company url:</strong>
    <%= external_services_param.company_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= external_services_param.user_id %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= external_services_param.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= external_services_param.del_status %>
  </p>

</div>
