

<div class="">

  <div class="w3-white w3-hover-shadow col-md-4 offset-md-4 w3-card-4 w3-border w3-border-purple rcorners w3-center">
    <h4 class="show w3-center"><strong>New Sub Activity Classes</strong></h4>
    <div id="new_notice"></div>
    <div class="w3-container">

      <br/>
      <%#= simple_form_for(@activity_sub_div_class, :data => {  :remote => true, count: params[:count], page: params[:page]}) do |f| %>
      <%= simple_form_for(@activity_sub_div_class, url: activity_sub_div_classes_path(@activity_sub_div_class, class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page] ),:remote => true) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :entity_div_code, :as => :hidden, input_html:{value: params[:code]} %>
        <%= f.input :class_one,  label: "Activity Class 1", value_method: :id, required: true, input_html:{id: "act_class_one", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
        <%= f.input :class_two,  label: "Activity Class 2", value_method: :id, required: true, input_html:{id: "act_class_two", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
        <%= f.input :class_three,  label: "Activity Class 3", value_method: :id, required: true, input_html:{id: "act_class_three", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
        <%= f.input :class_four,  label: "Activity Class 4", value_method: :id, required: true, input_html:{id: "act_class_four", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
        <%= f.input :class_five,  label: "Activity Class 5", value_method: :id, required: true, input_html:{id: "act_class_five", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

        <%# count = 1 %>
        <%# 5.times.each do |act_class| %>
          <%#= f.input :class_desc,  label: "Activity Class #{count}", value_method: :id, required: true, input_html:{id: "act_class_#{count}", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
<!--          <br/>-->
          <%# count = count + 1 %>
        <%# end %>

        <%#= f.input :comment,  label: "Comment", :as => :text, value_method: :id, required: false, input_html:{rows: 5, cols: 3, autocomplete: "off",class:"form-control w3-border ",style:""}  %>
        <input type="hidden" name="multi_create" value="multi_create">
        <%= f.input :active_status, :as => :hidden, input_html:{value: true} %>
        <%#= f.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>
        <div>
          <%= f.submit "Submit", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Please Wait...'}, style: "width:auto;float:center;",remote:true %>

          <% if params[:class_div_top] == "class_div_top" %>
            <button type="button" class="w3-button w3-white w3-border w3-border-purple w3-small w3-round-large" onclick="document.getElementById('new_modal').style.display='none'" >Back</button>
          <% else %>
            <%= link_to 'Back', entity_division_index_path(entity_code: params[:entity_code], class_div_top: params[:class_div_top], code: params[:code], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
        <% end %>
        </div>
      <% end %>
      <br/>
    </div>


  </div>

</div>


<div class="col-md-7 col-md-offset-5">
</div>



