


<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>



    <div class="w3-white w3-hover-shadow col-md-8 offset-md-2 w3-card-4 w3-border w3-border-purple rcorners w3-center">
      <br>
      <p id="notes4"><%#= notice %></p>
      <!--  <p id="for_division_setup"><%##= notice %></p>-->
      <h4>Classes for <%= @entity_div_name %></h4>
      <br>
      <div class="w3-container">
        <div>
          <div class="">
            <%= link_to 'NEW', new_activity_sub_div_class_path(code: params[:code], class_div_top: params[:class_div_top], entity_code: params[:entity_code], count: params[:count], page: params[:page]), style: "width:120px;",
                        class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
            <%= link_to 'BACK', entity_division_index_path(code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]), style: "width:120px;",
                        class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
          </div>
<!--          <div class="w3-half">-->
            <%#= select_tag :count, options_for_select([10,20,30,40,50], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "entity_divisions", :action => "entity_division_index", :params => {entity_code: params[:entity_code]})},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

<!--          </div>-->
        </div>
        <br>
        <div class="table-responsive-md pre-scrollable w3-border w3-border-purple" style="max-height: 50vh">
<!--          <br>-->
          <table class="table w3-responsive table-striped">
            <thead>
            <tr>
              <th></th>
              <th>Class Description</th>
              <th>Status</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @activity_sub_div_classes.each do |activity_sub_div_class| %>

              <tr>
                <td><%= link_to 'VIEW', activity_sub_div_class_path(activity_sub_div_class, class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                style: "width:80px; height: 30px;",
                                class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%></td>
                <td><strong><%= activity_sub_div_class.class_desc %> <%#= entity_info.entity_category.assigned_code %></strong></td>
                <% if activity_sub_div_class.active_status %>
                  <td><strong>Active</strong></td>
                <% else %>
                  <td><strong>Inactive</strong></td>
                <% end %>
                <td><strong><%= activity_sub_div_class.created_at %></strong></td>
                <td>
                  <% if activity_sub_div_class.active_status && activity_sub_div_class.del_status == false %>

                    <%= link_to 'EDIT', edit_activity_sub_div_class_path(activity_sub_div_class, class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                style: "width:100px; height: 30px; color: #800754 !important",
                                class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                  <% else %>

                    <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">EDIT</button>
                  <% end %>

                  <% if activity_sub_div_class.active_status %>
                    <%= link_to 'DISABLE', activity_sub_div_class_path(activity_sub_div_class, class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                style: "width:100px; height: 30px; color: #800754 !important",
                                method: :delete, data: { confirm: "Do you wish to disable: #{activity_sub_div_class.class_desc}?" },
                                class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                  <% else %>
                    <%= link_to 'ENABLE', activity_sub_div_class_path(activity_sub_div_class, class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                style: "width:100px; height: 30px;",
                                method: :delete, data: { confirm: "Do you wish to enable: #{activity_sub_div_class.class_desc}?" },
                                class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                  <% end %>


                </td>
              </tr>

            <% end %>

            </tbody>
          </table>
        </div>
        <br><br>
      </div>



    </div>



    <br/>
    <div class="col-md-7 col-md-offset-5">
      <br/>
      <br/>
    </div>
    <!--</div>-->

  </div>
</div>




<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
