

<div class="w3-container" >
  <div id="show_modal" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
<!--    <br/>-->

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Ticket Type Details</strong></h4>
        <p id="notice2"><strong></strong></p>

        <div class="w3-container">
          <br/>
          <% #assigned_service = @entity_division.assigned_service_codes != nil ? @entity_division.assigned_service_codes.where(active_status: true, del_status: false).order("assigned_service_code.created_at desc").first : false %>
          <% act_div_sub_class = ActivitySubDivClass.where(entity_div_code: params[:code], active_status: true).order(created_at: :desc) %>
          <div class="w3-container w3-responsive pre-scrollable w3-mobile">

            <% if params[:class_div_top] == "class_div_top" %>
              <% if params["multi_create"] == "multi_create" %>
                <% %>
                <div class="">
                  <table class="w3-table-all table-bordered w3-hoverable w3-card-4">
                    <tr class="w3-vpos-purple">
                      <td>No.</td>
                      <td><strong>Activity Ticket Type(s) for <%= @activity_sub_div_class.entity_division.division_name %>:</strong></td>
                      <td><strong>Number of Tickets</strong></td>
                    </tr>
                    <% count = 0 %>
                    <% if @activity_sub_div_class.class_one.present? && @activity_sub_div_class.act_group_one.present? %>
                      <% count = count + 1 %>
                      <tr>
                        <td><%= count %></td>
                        <td>
                          <strong><%= @activity_sub_div_class.class_one %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.max_num_one %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.act_group_one %></strong>
                        </td>
                      </tr>
                    <% end %>
                    <% if @activity_sub_div_class.class_two.present? && @activity_sub_div_class.act_group_two.present? %>
                      <% count = count + 1 %>
                      <tr>
                        <td><%= count %></td>
                        <td>
                          <strong><%= @activity_sub_div_class.class_two %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.max_num_two %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.act_group_two %></strong>
                        </td>
                      </tr>
                    <% end %>
                    <% if @activity_sub_div_class.class_three.present? && @activity_sub_div_class.act_group_three.present? %>
                      <% count = count + 1 %>
                      <tr>
                        <td><%= count %></td>
                        <td>
                          <strong><%= @activity_sub_div_class.class_three %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.max_num_three %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.act_group_three %></strong>
                        </td>
                      </tr>
                    <% end %>
                    <% if @activity_sub_div_class.class_four.present? && @activity_sub_div_class.act_group_four.present? %>
                      <% count = count + 1 %>
                      <tr>
                        <td><%= count %></td>
                        <td>
                          <strong><%= @activity_sub_div_class.class_four %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.max_num_four %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.act_group_four %></strong>
                        </td>
                      </tr>
                    <% end %>
                    <% if @activity_sub_div_class.class_five.present? && @activity_sub_div_class.act_group_five.present? %>
                      <% count = count + 1 %>
                      <tr>
                        <td><%= count %></td>
                        <td>
                          <strong><%= @activity_sub_div_class.class_five %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.max_num_five %></strong>
                        </td>
                        <td>
                          <strong><%= @activity_sub_div_class.act_group_five %></strong>
                        </td>
                      </tr>
                    <% end %>

                  </table>
                </div>

                <% else %>
                <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Service Name:</strong></td>
                    <td>
                      <strong><%= @activity_sub_div_class.entity_division.division_name %></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Ticket Types:</strong></td>
                    <td>
                      <strong><%= @activity_sub_div_class.class_desc %></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Maximum Ticket No.:</strong></td>
                    <td>
                      <strong><%= @activity_sub_div_class.max_num %></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Activity Group:</strong></td>
                    <td>
                      <strong><%= @activity_sub_div_class.activity_group.activity_group_desc if @activity_sub_div_class.activity_group != nil %> (<%= @activity_sub_div_class.activity_group_code %>)</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Date:</strong></td>
                    <td>
                      <strong><%= @activity_sub_div_class.created_at %></strong>
                    </td>
                  </tr>

                </table>
                <% end %>
              <% else %>
              <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">
                <tr class="w3-vpos-purple">
                  <td><strong>Ticket Type(s):</strong></td>
                  <td><strong>Maximum No. of Tickets:</strong></td>
                </tr>

                <% if @activity_sub_div_class.class_one.present? %>
                  <tr>
                    <td>
                      <strong><%= @activity_sub_div_class.class_one %></strong>
                    </td>
                    <td>
                      <strong><%= @activity_sub_div_class.max_num_one %></strong>
                    </td>
                  </tr>
                <% end %>
                <% if @activity_sub_div_class.class_two.present? %>
                  <tr>
                    <td>
                      <strong><%= @activity_sub_div_class.class_two %></strong>
                    </td>
                    <td>
                      <strong><%= @activity_sub_div_class.max_num_two %></strong>
                    </td>
                  </tr>
                <% end %>
                <% if @activity_sub_div_class.class_three.present? %>
                  <tr>
                    <td>
                      <strong><%= @activity_sub_div_class.class_three %></strong>
                    </td>
                    <td>
                      <strong><%= @activity_sub_div_class.max_num_three %></strong>
                    </td>
                  </tr>
                <% end %>
                <% if @activity_sub_div_class.class_four.present? %>
                  <tr>
                    <td>
                      <strong><%= @activity_sub_div_class.class_four %></strong>
                    </td>
                    <td>
                      <strong><%= @activity_sub_div_class.max_num_four %></strong>
                    </td>
                  </tr>
                <% end %>
                <% if @activity_sub_div_class.class_five.present? %>
                  <tr>
                    <td>
                      <strong><%= @activity_sub_div_class.class_five %></strong>
                    </td>
                    <td>
                      <strong><%= @activity_sub_div_class.max_num_five %></strong>
                    </td>
                  </tr>
                <% end %>

              </table>
              <% end %>
          </div>

          <br/>
          <div class="w3-center">
            <% if params[:class_div_top] == "class_div_top" %>
<!--              <button type="button" class="w3-button w3-white w3-border w3-border-purple w3-small w3-round-large" onclick="document.getElementById('show_modal').style.display='none'" >Back</button>-->
              <%= link_to 'Back', activity_sub_div_classes_path(entity_code: params[:entity_code], class_div_top: params[:class_div_top], code: params[:code], count1: params[:count1], page1: params[:page1], count4: params[:count4], page4: params[:page4], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
            <% else %>
              <%= link_to 'Back', entity_division_index_path(entity_code: params[:entity_code], class_div_top: params[:class_div_top], code: params[:code], count1: params[:count1], page1: params[:page1], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
            <% end %>
          </div>
          <br/>
        </div>

      </div>

    </div>

    <!--</div>-->

  </div>
  <br/>
  <div class="col-md-7 offset-md-5">
    <br><br>
  </div>
</div>







