<p id="notice"><%= notice %></p>

<p>
  <strong>Entity div code:</strong>
  <%= @activity_sub_div_class.entity_div_code %>
</p>

<p>
  <strong>Class desc:</strong>
  <%= @activity_sub_div_class.class_desc %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @activity_sub_div_class.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @activity_sub_div_class.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @activity_sub_div_class.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity_sub_div_class.user_id %>
</p>

<%= link_to 'Edit', edit_activity_sub_div_class_path(@activity_sub_div_class) %> |
<%= link_to 'Back', activity_sub_div_classes_path %>
