<div>
  <br>
  <p id="notes1"><%#= notice %></p>
  <br>
  <div>
    <div class="w3-third">
      <%#= link_to 'NEW', new_entity_info_path(count: params[:count], page: params[:page]), style: "width:120px;", class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <%#= link_to 'Filter',"#reports", :data =>{ toggle:'modal'}, class: 'w3-bar-item w3-btn w3-card-4 w3-blue w3-small w3-ripple w3-round-xlarge' %>
      <%#= link_to 'FILTER', "#reports", :data => {toggle: 'modal'}, style: "font-size: small; width: 150px;", class: 'btn btn-outline-purple tablink w3-vpos-purple' %>
      <button type="button" onclick="document.getElementById('reports').style.display='block'" style="font-size: small; width: 165px;" class="w3-btn btn btn-outline-purple tablink w3-vpos-purple">PAYMENTS
        FILTER
      </button>
      <br>
    </div>


    <div class="w3-third" style="padding-bottom: 15px">
      <% if @payment_infos.size > 0 %>
        <strong>Download::</strong>
        <%= link_to "CSV", '#', id: "csv", class: 'w3-bar-item w3-btn w3-card-4 w3-dark-grey w3-small w3-round-xlarge w3-ripple' %>
        |
        <%#= link_to 'Edit', edit_person_info_path(person_search, edit_modal: "info_modal", count: params[:count], page: params[:page] ),  id: 'showning', class: 'w3-bar-item w3-btn w3-card-4 w3-teal w3-small w3-round-xlarge w3-ripple',remote:true %>
        <div class="csv_div hidden" style="display: none">
          <%= form_tag payment_info_index_path(format: "csv"), method: :get, input_html: {display: "block", id: "csv_form"} do %>
            <!--<input id="csv_perpage" class="form-control" name="per_page"/>-->
            <!--<input id="csv_count" class="form-control" name="count"/>-->
            <!--<input id="csv_page" class="form-control" name="page"/>-->
            <input class="form-control" name="count" value="<%= params[:count] %>"/>
<!--            <input class="form-control" name="page" value="<%#= params[:page] %>"/>-->

            <input class="form-control" name="entity_name" value="<%= params[:entity_name] %>"/>
            <input class="form-control" name="division_name" value="<%= params[:division_name] %>"/>
            <input class="form-control" name="act_main_code" value="<%= params[:act_main_code] %>"/>
            <input class="form-control" name="activity_type" value="<%= params[:activity_type] %>"/>
            <input class="form-control" name="lov_name" value="<%= params[:lov_name] %>"/>
            <input class="form-control" name="ref" value="<%= params[:ref] %>"/>
            <input class="form-control" name="cust_num" value="<%= params[:cust_num] %>"/>
            <input class="form-control" name="trans_id" value="<%= params[:trans_id] %>"/>
            <input class="form-control" name="nw" value="<%= params[:nw] %>"/>
            <input class="form-control" name="status" value="<%= params[:status] %>"/>
            <input class="form-control" name="source" value="<%= params[:source] %>"/>
            <input class="form-control" name="start_date" value="<%= params[:start_date] %>"/>
            <input class="form-control" name="end_date" value="<%= params[:end_date] %>"/>
            <input class="form-control" name="a_download" value="<%= params[:a_download] %>"/>
            <input type="submit" value="Search" class="btn btn-primary" id="csv_submit">
          <% end %>
        </div>

        <%= link_to "Excel", '#', id: "excel", class: 'w3-bar-item w3-btn w3-card-4 w3-black w3-small w3-round-xlarge w3-ripple' %>
        |
        <div class="excel_div hidden" style="display: none">
          <%= form_tag payment_info_index_path(format: "xls"), method: :get, input_html: {display: "block", id: "excel_form"} do %>
            <!--<input id="excel_perpage" class="form-control" name="per_page"/>-->
            <!--<input id="excel_count" class="form-control" name="count"/>-->
            <!--<input id="excel_page" class="form-control" name="page"/>-->
            <input class="form-control" name="count" value="<%= params[:count] %>"/>
            <input class="form-control" name="page" value="<%= params[:page] %>"/>
            <!--            <input class="form-control" name="counter" value="<%#= params[:counter] %>"/>-->
            <!--            <input class="form-control" name="pager" value="<%#= params[:pager] %>"/>-->
            <input class="form-control" name="entity_name" value="<%= params[:entity_name] %>"/>
            <input class="form-control" name="division_name" value="<%= params[:division_name] %>"/>
            <input class="form-control" name="act_main_code" value="<%= params[:act_main_code] %>"/>
            <input class="form-control" name="activity_type" value="<%= params[:activity_type] %>"/>
            <input class="form-control" name="lov_name" value="<%= params[:lov_name] %>"/>
            <input class="form-control" name="lov_name" value="<%= params[:lov_name] %>"/>
            <input class="form-control" name="cust_num" value="<%= params[:cust_num] %>"/>
            <input class="form-control" name="trans_id" value="<%= params[:trans_id] %>"/>
            <input class="form-control" name="nw" value="<%= params[:nw] %>"/>
            <input class="form-control" name="status" value="<%= params[:status] %>"/>
            <input class="form-control" name="source" value="<%= params[:source] %>"/>
            <input class="form-control" name="start_date" value="<%= params[:start_date] %>"/>
            <input class="form-control" name="end_date" value="<%= params[:end_date] %>"/>
            <input class="form-control" name="a_download" value="<%= params[:a_download] %>"/>
            <input type="submit" value="Search" id="excel_submit">
          <% end %>
        </div>

        <%= link_to "CSV_ALL", '#', id: "csv_all", class: 'w3-bar-item w3-btn w3-card-4 w3-dark-red w3-small w3-round-xlarge w3-ripple' %>
        <div class="csv_all_div hidden" style="display: none">
          <%= form_tag payment_info_index_path(format: "csv"), method: :get, input_html: {display: "block", id: "csv_all_form"} do %>
            <input class="form-control" name="count" value="All"/>
            <input class="form-control" name="entity_name" value="<%= params[:entity_name] %>"/>
            <input class="form-control" name="division_name" value="<%= params[:division_name] %>"/>
            <input class="form-control" name="act_main_code" value="<%= params[:act_main_code] %>"/>
            <input class="form-control" name="activity_type" value="<%= params[:activity_type] %>"/>
            <input class="form-control" name="lov_name" value="<%= params[:lov_name] %>"/>
            <input class="form-control" name="ref" value="<%= params[:ref] %>"/>
            <input class="form-control" name="cust_num" value="<%= params[:cust_num] %>"/>
            <input class="form-control" name="trans_id" value="<%= params[:trans_id] %>"/>
            <input class="form-control" name="nw" value="<%= params[:nw] %>"/>
            <input class="form-control" name="status" value="<%= params[:status] %>"/>
            <input class="form-control" name="source" value="<%= params[:source] %>"/>
            <input class="form-control" name="start_date" value="<%= params[:start_date] %>"/>
            <input class="form-control" name="end_date" value="<%= params[:end_date] %>"/>
            <input class="form-control" name="a_download" value="<%= params[:a_download] %>"/>
            <input type="submit" value="Search" class="btn btn-primary" id="csv_all_submit">
          <% end %>
        </div>


        <%#= link_to "PDF", '#', id: "pdf", class: 'w3-bar-item w3-btn w3-card-4 w3-teal w3-small w3-round-xlarge w3-ripple' %>
        <!--        <div class="csv_div hidden">-->
        <%#= form_tag payment_info_index_path(format: "pdf"), method: :get, input_html: {display: "block", id: "pdf_form"} do %>
        <!--<input id="pdf_perpage" class="form-control" name="per_page"/>-->
        <!--<input id="pdf_count" class="form-control" name="count"/>-->
        <!--<input id="pdf_page" class="form-control" name="page"/>-->
        <!--            <input class="form-control" name="count" value="<%#= params[:count] %>"/>-->
        <!--            <input class="form-control" name="page" value="<%#= params[:page] %>"/>-->
        <!--            <input class="form-control" name="counter" value="<%#= params[:counter] %>"/>-->
        <!--            <input class="form-control" name="pager" value="<%#= params[:pager] %>"/>-->
        <!--            <input class="form-control" name="pc_name" value="<%#= params[:pc_name] %>"/>-->
        <!--            <input class="form-control" name="do_name" value="<%#= params[:do_name] %>"/>-->
        <!--            <input class="form-control" name="momo_number" value="<%#= params[:momo_number] %>"/>-->
        <!--            <input class="form-control" name="product_name" value="<%#= params[:product_name] %>"/>-->
        <!--            <input class="form-control" name="start_date" value="<%#= params[:start_date] %>"/>-->
        <!--            <input class="form-control" name="end_date" value="<%#= params[:end_date] %>"/>-->
        <!--            <input type="submit" value="Search" class="btn btn-primary" id="pdf_submit">-->
        <%# end %>
        <!--        </div>-->
      <% end %>
    </div>

    <div class="w3-third">
      <%= select_tag :count, options_for_select([50, 100, 150, 200, 500, "All"], params[:count]),
                     :data => {:remote => true, :url => url_for(:controller => "payment_infos", :action => "payment_info_index",
                                                                :params => {entity_name: params[:entity_name],
                                                                            division_name: params[:division_name],
                                                                            act_main_code: params[:act_main_code],
                                                                            activity_type: params[:activity_type],
                                                                            lov_name: params[:lov_name], ref: params[:ref],
                                                                            cust_num: params[:cust_num], trans_id: params[:trans_id],
                                                                            nw: params[:nw], status: params[:status], source: params[:source],
                                                                            start_date: params[:start_date],
                                                                            end_date: params[:end_date], a_download: params[:a_download]})},
                     id: "record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote: true %>

    </div>

  </div>


  <br>
  <div class="table-responsive-md">
    <br>
    <table class=" w3-responsive table-striped w3-table-all table-bordered w3-hoverable w3-card-4">
      <thead>
      <% if current_user.merchant_service? %>
        <% entity_div = EntityDivision.where(assigned_code: current_user.user_division_code, activity_type_code: "MOP", active_status: true).order(created_at: :desc).first %>
      <%# elsif current_user.merchant_admin? %>
        <%# entity_div = EntityDivision.where(entity_code: current_user.user_entity_code, activity_type_code: "MOP", active_status: true).order(created_at: :desc).first %>
      <% else %>
        <% entity_div = false %>
      <% end %>
      <tr class="w3-vpos-purple">
        <!--        <th></th>-->
        <!--        <th>Merchant Name (Merchant Alias)</th>-->
        <th>No.</th>
        <% if current_user.super_admin? || current_user.super_user? || current_user.merchant_admin? %>
          <th>Service Name</th>
        <% elsif current_user.merchant_service? %>
        <% end %>

        <th>Customer No.</th>
        <% entity_dive = EntityDivision.where(active_status: true, del_status: false, assigned_code: current_user.user_division_code, activity_type_code: 'PDD').order(created_at: :desc).first %>
        <% if current_user.merchant_service? %>
          <%if entity_dive %>
            <th>Location</th>
          <% end %>
        <% end %>
        <th>Trans. ID</th>
        <% if current_user.super_admin? || current_user.super_user? || current_user.user_show_charge == true %>
          <th>Gross Amt</th>
          <% if entity_div %>
            <th>Selected Option</th>
          <% else %>
            <th>M-Charge</th>
            <th>C-Charge</th>
          <% end %>
          <th>Net Amt</th>
        <% else %>
          <%# if current_user.merchant_service? %>
          <%# else %>
          <%# end %>

          <% if entity_div %>
            <th>Selected Option</th>
          <% end %>
          <th>Actual Amt</th>
        <% end %>
        <th>NW</th>
        <th>Status</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% amount = 0.000 %>
      <% gross_amt = 0.000 %>
      <% total_charge = 0.000 %>
      <% total_actual_amt = 0.000 %>
      <% total_gross_amt = 0.000 %>
      <% actual_amt = 0.000 %>
      <% for_gross_amt = 0.000 %>
      <% @payment_infos.each.with_index(@payment_infos.offset + 1) do |payment_info, num| %>
        <% @merchant = EntityDivision.where(active_status: true, assigned_code: payment_info.entity_div_code).order(created_at: :desc).first %>
        <% @merchant_service_trxn = EntityServiceAccountTrxn.where(entity_div_code: payment_info.entity_div_code, processing_id: payment_info.processing_id).order(created_at: :desc).first %>
        <% @assigned_fee = AssignedFee.where(entity_div_code: payment_info.entity_div_code, active_status: true).order(created_at: :desc).first %>
        <% amount = amount + payment_info.amount %>
        <% total_amt = 0.000 %>
        <% charge = 0.000 %>
        <% m_charge = 0.000 %>
        <% c_charge = 0.000 %>

        <% if payment_info.charge != nil && payment_info.charge > 0 && @merchant_service_trxn && @merchant_service_trxn.charge != nil && @merchant_service_trxn.charge > 0 %>
          <% m_charge = @merchant_service_trxn.charge %>
          <% c_charge = payment_info.charge %>
          <% charge = m_charge + c_charge %>
          <% actual_amt = payment_info.amount.to_f - charge.to_f %>
          <% for_gross_amt = payment_info.amount.to_f %>
        <% elsif payment_info.charge == 0.000 %>
          <% if @merchant_service_trxn && @merchant_service_trxn.charge != nil %>
            <% charge = @merchant_service_trxn.charge %>
            <% m_charge = charge %>
            <% c_charge = payment_info.charge %>
            <% total_amt = payment_info.amount.to_f + @merchant_service_trxn.charge.to_f %>
            <% actual_amt = payment_info.amount.to_f - @merchant_service_trxn.charge.to_f %>
            <% for_gross_amt = payment_info.amount.to_f %>
          <% else %>
            <% total_amt = payment_info.amount.to_f %>
            <% actual_amt = 0.000 %>
            <% for_gross_amt = 0.000 %>
          <% end %>

          <%# elsif @assigned_fee && @assigned_fee.charged_to == "C" %>
        <% else %>
          <% if payment_info.charge != nil %>
            <% charge = payment_info.charge %>
            <% m_charge = @merchant_service_trxn && @merchant_service_trxn.charge != nil ? @merchant_service_trxn.charge : 0.000 %>
            <% c_charge = charge %>
            <% total_amt = payment_info.amount.to_f + payment_info.charge.to_f %>
            <% actual_amt = payment_info.amount.to_f - payment_info.charge.to_f %>
            <% for_gross_amt = payment_info.amount.to_f #+ payment_info.charge.to_f %>
          <% else %>
            <% total_amt = payment_info.amount.to_f %>
            <% actual_amt = 0.000 %>
            <% for_gross_amt = 0.000 %>
          <% end %>
        <% end %>

        <%# if payment_info.charge != nil && payment_info.charge > 0 && @merchant_service_trxn && @merchant_service_trxn.charge != nil && @merchant_service_trxn.charge > 0 %>
          <%# m_charge = @merchant_service_trxn.charge %>
          <%# c_charge = payment_info.charge %>
          <%# charge = m_charge + c_charge %>
          <%# actual_amt = payment_info.amount.to_f - charge.to_f %>
          <%# for_gross_amt = payment_info.amount.to_f %>
        <%# end %>


        <% total_actual_amt = total_actual_amt + actual_amt %>
        <% total_gross_amt = total_gross_amt + for_gross_amt %>
        <% total_charge = total_charge + charge %>

        <% total_amt = total_amt.round(3) %>

        <% gross_amt = gross_amt.round(3) %>
        <%# total_charge = total_charge + charge %>
        <% gross_amt = gross_amt + total_amt %>
        <% logger.info "Merchant Service Transaction:: #{@merchant_service_trxn.inspect}" %>
        <tr>
          <td><%= num %></td>
          <!--          <td><%#= payment_info.entity_division.entity_info.entity_name %> (<%#= payment_info.entity_division.entity_info.entity_alias %>)</td>-->
          <% if current_user.super_admin? || current_user.super_user? || current_user.merchant_admin? %>
            <% logger.info "======================================================================" %>
            <%# logger.info "======================================================================" %>
            <%# logger.info "======================================================================" %>
            <%# logger.info "======================================================================" %>
            <%# logger.info "========================== #{payment_info.inspect} =======================" %>
            <% entity_divi = EntityDivision.where(active_status: true, del_status: false, assigned_code: payment_info.entity_div_code).order(created_at: :desc).first %>
            <% if entity_divi %>
              <% if payment_info.entity_division.division_name.length > 21 %>
                <td><%= payment_info.entity_division.division_name[0..21] %>
                  .. <%#= payment_info.entity_division.division_alias %></td>
              <% else %>
                <td><%= payment_info.entity_division.division_name %></td>
              <% end %>
              <!--              <td><%#= payment_info.entity_division.division_name %> <%##= payment_info.entity_division.division_alias %></td>-->
            <% else %>
              <td></td>

            <% end %>
          <% elsif current_user.merchant_service? %>
          <% end %>

          <td><%= payment_info.customer_number %></td>
          <% entity_dive = EntityDivision.where(active_status: true, del_status: false, assigned_code: current_user.user_division_code, activity_type_code: 'PDD').order(created_at: :desc).first %>
          <% if current_user.merchant_service? %>
            <%if entity_dive %>
              <% reference = UssdTrackerActivityTemp.where(session_id: payment_info.session_id).first %>
              <td><%= reference.regions if reference %></td>
            <% end %>
          <% end %>
          <td><%= payment_info.processing_id if payment_info.processing_id.present? %></td>
          <% if current_user.super_admin? || current_user.super_user? || current_user.user_show_charge == true %>
            <td><%= for_gross_amt.round(3) %></td>
            <% if entity_div %>
              <% if payment_info.activity_lov_id.present? %>
                <% div_act_lov = DivisionActivityLov.where(id: payment_info.activity_lov_id).first %>
                <td><%= div_act_lov.lov_desc if div_act_lov.lov_desc.present? %></td>
              <% else %>
                <td></td>
              <% end %>
            <% else %>
              <td><%= m_charge.round(3) %></td>
              <td><%= c_charge.round(3) %></td>
            <% end %>

            <td><%= actual_amt.round(3) %></td>
          <% else %>
            <% if entity_div %>
              <% if payment_info.activity_lov_id.present? %>
                <% div_act_lov = DivisionActivityLov.where(id: payment_info.activity_lov_id).first %>
                <td><%= div_act_lov.lov_desc if div_act_lov.lov_desc.present? %></td>
                <% else %>
                <td></td>
                <% end %>
            <% end %>
            <td><%= actual_amt.round(3) %></td>
          <% end %>


          <!--          <td><%#= actual_amt %></td>-->
          <!--          <td><%#= charge.round(3) %></td>-->
          <!--          <td><%#= payment_info.amount %></td>-->
          <td><%= payment_info.nw %></td>
          <%# if payment_info.src == "USSD" %>
          <!--            <td>USS</td>-->
          <%# else %>
          <!--            <td><%#= payment_info.src %></td>-->
          <%# end %>

          <%# status = payment_info.trans_status.present? ? payment_info.trans_status.split("/") : "nil" %>
          <%# logger.info "Status :: #{status.inspect}" %>
          <%# if status[0] == "000" %>
<!--            <td>Success</td>-->
          <%# elsif status == "nil" %>
<!--            <td>Pending</td>-->
          <%# else %>
<!--            <td>Failed</td>-->
          <%# end %>

          <% if payment_info.processed == true %>
            <td>Success</td>
          <% elsif payment_info.processed == false %>
            <td>Failed</td>
          <% else %>
            <td>Pending</td>
          <% end %>




          <td><%= payment_info.created_at %></td>
          <td>
            <% if current_user.super_admin? || current_user.super_user? || current_user.merchant_admin? %>
              <% if @merchant && (@merchant.activity_type_code == "SHW" || @merchant.activity_type_code == "SPO") %>
                <%= link_to 'VIEW', payment_info_path(payment_info, params: params.to_unsafe_h, count: params[:count], page: params[:page]),
                            style: "width:70px; height: 30px;",
                            class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote: true %>

                <% if payment_info.processed == true %>
                  <%#= link_to 'RESEND', transaction_resend_path(payment_info, params: params.to_unsafe_h, count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px;",
                              data: {confirm: "Do you wish to resend transaction for: #{payment_info.customer_number}?"},
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote: true %>

                  <%= link_to 'RESEND', resend_form_path(payment_info, params: params.to_unsafe_h, count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px;",
                              data: {},
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote: true %>

                <% else %>
                  <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:80px; height: 30px; color: #800754 !important">RESEND</button>
                <% end %>
              <% else %>
                <%= link_to 'VIEW', payment_info_path(payment_info, params: params.to_unsafe_h, count: params[:count], page: params[:page]),
                            style: "width:100%; height: 30px;",
                            class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote: true %>
<!--                <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:80px; height: 30px; color: #800754 !important">RESEND</button>-->
              <% end %>
            <% else %>
              <%= link_to 'VIEW', payment_info_path(payment_info, params: params.to_unsafe_h, count: params[:count], page: params[:page]),
                          style: "width:100%; height: 30px;",
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote: true %>
<!--              <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:80px; height: 30px; color: #800754 !important">RESEND</button>-->
            <% end %>


          </td>
        </tr>


        <!--      <tr>-->
        <!--        <td class="w3-vpos-purple" colspan="2"></td>-->
        <!--        <td colspan="2"></td>-->
        <!--      </tr>-->

      <% end %>

      <tr>
        <% if current_user.super_admin? || current_user.super_user? || current_user.merchant_admin? %>
          <td class="w3-vpos-purple" colspan="2"></td>
        <% elsif current_user.merchant_service? %>
          <td class="w3-vpos-purple" colspan="1"></td>
        <% end %>

        <td class="w3-vpos-purple" colspan="2"><strong>Total Amount (GHS)</strong></td>
        <!--        <td colspan="1"><strong><%#= gross_amt.round(3) %></strong> <%## count %></td>-->
        <!--        <td colspan="1"><strong><%#= total_charge.round(3) %></strong> <%## count %></td>-->
        <!--        <td colspan="1"><strong><%#= amount.round(3) %></strong> <%## count %></td> -->

        <% if current_user.super_admin? || current_user.super_user? || current_user.user_show_charge == true %>
          <td colspan="1"><strong><%= total_gross_amt.round(3) %></strong> <%# count %></td>
          <% if entity_div %>
            <td colspan="1"><strong></strong> <%# count %></td>
          <% else %>
            <td colspan="2"><strong><%= total_charge.round(3) %></strong> <%# count %></td>
          <% end %>
          <td colspan="1"><strong><%= total_actual_amt.round(3) %></strong> <%# count %></td>
        <% else %>
          <% if entity_div %>
            <td colspan="1"><strong></strong> <%# count %></td>
          <% end %>
          <td colspan="1"><strong><%= total_actual_amt.round(3) %></strong> <%# count %></td>
        <% end %>

        <% if current_user.super_admin? || current_user.super_user? || current_user.user_show_charge == true %>
          <td class="w3-vpos-purple" colspan="5"></td>
        <% else %>
          <td class="w3-vpos-purple" colspan="5"></td>
        <% end %>
      </tr>

      </tbody>
    </table>
    <br>
    <% unless params[:count] == "All" %>
      <div class="flickr_pagination" style="float: right">
        <%= will_paginate @payment_infos, class: "w3-card", renderer: BootstrapPagination::Rails, :params => {:controller => "payment_infos", :action => "payment_info_index", count: params[:count], page: params[:page]} %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
      </div>
    <% end %>
  </div>

</div>







<div class="w3-container">
  <div id="reports" class="w3-modal w3-animate-opacity" style=" display: none">
    <!--    <span onclick="document.getElementById('reports').style.display='none'" class="w3-button w3-display-topright">&times;</span>-->
    <div class="">
      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Filter Transactions</strong></h4>
        <% @networks = [["MTN", "MTN"], ["VOD", "VOD"], ["TIGO", "TIG"], ["AIRTEL", "AIR"]] %>
        <% @transaction_types = [["Collections (CTM)", "CTM"], ["Cash (CSH)", "CSH"], ["Disbursements (MTC)", "MTC"]] %>
        <% @statuses = [["SUCCESS", "000"], ["FAILED", "001"], ["PENDING", "NIL"]] %>
        <% @sources = [["Web", "WEB"], ["Portal", "PTL"], ["USSD", "USSD"]] %>
        <% @locations = RegionMaster.where(active_status: true, del_status: false) %>
        <%= simple_form_for :filter_main, :url => (payment_info_index_path(count: params[:count], page: params[:page])), :method => 'get', html: {class: 'form-horizontal'}, remote: true do |f| %>
          <div class="w3-container w3-border w3-border-purple">
            <!--            <br/>-->
            <input type="hidden" class="form-control" name="count" value="<%= params[:count] %>"/>
<!--            <input type="hidden" class="form-control" name="page" value="<%#= params[:page] %>"/>-->
            <input type="hidden" class="form-control" name="entity_code" value="<%= @entity_code %>"/>
            <input type="hidden" class="form-control" name="code" value="<%= @code %>"/>
            <div class="w3-half">

              <% if current_user.super_admin? || current_user.super_user? %>
                <%= f.input :entity_name, class: "form-control", collection: @merchant_search, label_method: :entity_name, value_method: :assigned_code, input_html: {id: "id_entity_info", style: "width: 90%;", autocomplete: "off"}, label: "Merchant Name", boolean_style: :inline %>
                <%#= f.label :division_name,"Merchant Service", style:"" %>
                <%= f.input :division_name, class: "form-control", collection: @merchant_service_search, label_method: :division_name, value_method: :assigned_code, input_html: {id: "id_entity_div", style: "width: 90%;", autocomplete: "off"}, label: "Merchant Service", boolean_style: :inline %>

              <% elsif current_user.merchant_admin? %>
                <%#= f.label :division_name,"Merchant Service", style:"" %>
                <%= f.input :division_name, class: "form-control", collection: @merchant_service_search, label_method: :division_name, value_method: :assigned_code, input_html: {id: "id_entity_div", style: "width: 90%;", autocomplete: "off"}, label: "Merchant Service", boolean_style: :inline %>
                <% #elsif current_user.merchant_service? %>
              <% end %>

              <% unless current_user.merchant_service? %>
                <%= f.input :activity_type, collection: @activity_types, label_method: :activity_type_desc, value_method: :assigned_code, class: "form-control", input_html: {style: "width: 90%;"}, label: "Activity Type", boolean_style: :inline %>
              <% end %>
              <% if current_user.merchant_service? %>
                <% a_service = EntityDivision.where(assigned_code: current_user.user_division_code, active_status: true).order(created_at: :desc).first %>
                <% if a_service && a_service.activity_type_code == "CHC" %>
                  <%= f.input :act_main_code, collection: @menu_items, label_method: :activity_main_code_narration, value_method: :act_main_code_narration_val, class: "form-control", input_html: {id: "id_service_act_main_code", style: "width: 90%"}, label: "Menu Items", boolean_style: :inline %>
                <% end %>
              <% else %>
                <%= f.input :act_main_code, collection: @menu_items, label_method: :activity_main_code_narration, value_method: :act_main_code_narration_val, class: "form-control", input_html: {id: "id_act_main_code", style: "width: 90%"}, label: "Menu Items", boolean_style: :inline %>
              <% end %>
              <%= f.input :lov_name, collection: @division_lovs, label_method: :lov_desc, value_method: :lov_desc, class: "form-control", input_html: {id: "id_div_lov", style: "width: 90%"}, label: "Service Option", boolean_style: :inline %>

              <%= f.input :source, collection: @sources, label_method: :first, value_method: :last, class: "form-control", input_html: {id: "id_source", style: "width: 90%"}, label: "Source", boolean_style: :inline %>

              <% if current_user.merchant_admin? %>
                <%= f.input :cust_num, class: "form-control", input_html: {style: "width: 90%"}, label: "Customer Number", boolean_style: :inline %>
              <% elsif current_user.merchant_service? %>
                <%= f.input :cust_num, class: "form-control", input_html: {style: "width: 90%"}, label: "Customer Number", boolean_style: :inline %>
                <%# a_service = EntityDivision.where(assigned_code: current_user.user_division_code, active_status: true).order(created_at: :desc).first %>
                <%# if a_service && a_service.activity_type_code == "HSP" %>
                  <%#= f.input :trans_type, collection: @transaction_type, label_method: :first, value_method: :last, class: "form-control", input_html: {id: "id_service_trans_type", style: "width: 90%"}, label: "Transaction Type", boolean_style: :inline %>
                <%# end %>
                <%= f.input :trans_id, label: "Transaction ID", class: "form-control", input_html: {style: "width: 90%"}, boolean_style: :inline %>
              <% end %>
              <% if current_user.super_admin? || current_user.super_user? %>
              <%= f.input :trans_type, collection: @transaction_types, label_method: :first, value_method: :last, class: "form-control", input_html: {id: "id_trans_type", style: "width: 90%"}, label: "Transaction Type", boolean_style: :inline %>
              <% end %>
            </div>



            <div class="w3-half">

              <% if current_user.super_admin? || current_user.super_user? %>
                <%= f.input :ref, class: "form-control", input_html: {style: "width: 100%"}, label: "Reference", boolean_style: :inline %>
                <%= f.input :cust_num, class: "form-control", input_html: {style: "width: 100%"}, label: "Customer Number", boolean_style: :inline %>
                <%= f.input :trans_id, label: "Transaction ID", class: "form-control", input_html: {style: ""}, boolean_style: :inline %>
              <% elsif current_user.merchant_admin? %>
                <%= f.input :ref, class: "form-control", input_html: {style: "width: 100%"}, label: "Reference", boolean_style: :inline %>
                <%= f.input :trans_id, label: "Transaction ID", class: "form-control", input_html: {style: ""}, boolean_style: :inline %>
              <% elsif current_user.merchant_service? %>
                  <% that_service = EntityDivision.where(assigned_code: current_user.user_division_code, active_status: true).order(created_at: :desc).first %>
                  <% if that_service && that_service.activity_type_code == "PDD" %>
                    <%= f.input :ref,  collection: @locations, class: "form-control", label_method: :region_name, value_method: :region_name,input_html: {style: "width: 100%"}, label: "Location", boolean_style: :inline %>
                 <% else %>
                  <%= f.input :ref, class: "form-control", input_html: {style: "width: 100%"}, label: "Reference", boolean_style: :inline %>
                <% end %>

              <% end %>
              <%= f.input :nw, collection: @networks, label_method: :first, value_method: :last, class: "form-control", input_html: {style: ""}, label: "Network", boolean_style: :inline %>

              <%#= f.label :status,"Status", style:"" %>
              <%= f.input :status, collection: @statuses, label_method: :first, value_method: :last, class: "form-control", input_html: {style: ""}, label: "Status", boolean_style: :inline %>

              <% if current_user.super_admin? || current_user.super_user? %>
                <div class="w3-half">
                  <%= f.input :start_date, :id => "datepicker1", as: :date, html5: true, class: "form-control input-group date", label: "Start Date", boolean_style: :inline, input_html: {style: "width: 90%", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                </div>
                <div class="w3-half">
                  <%= f.input :end_date, :id => "datepicker2", as: :date, html5: true, class: "form-control", label: "End Date", boolean_style: :inline, input_html: {style: "", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                </div>
              <% elsif current_user.merchant_admin? %>
                <%= f.input :start_date, :id => "datepicker1", as: :date, html5: true, class: "form-control input-group date", label: "Start Date", boolean_style: :inline, input_html: {style: "", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                <%= f.input :end_date, :id => "datepicker2", as: :date, html5: true, class: "form-control", label: "End Date", boolean_style: :inline, input_html: {style: "", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
              <% elsif current_user.merchant_service? %>
                <% a_service = EntityDivision.where(assigned_code: current_user.user_division_code, active_status: true).order(created_at: :desc).first %>
                <% if a_service && a_service.activity_type_code == "CHC" %>
                  <%= f.input :start_date, :id => "datepicker1", as: :date, html5: true, class: "form-control input-group date", label: "Start Date", boolean_style: :inline, input_html: {style: "", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                  <%= f.input :end_date, :id => "datepicker2", as: :date, html5: true, class: "form-control", label: "End Date", boolean_style: :inline, input_html: {style: "", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                <% else %>
                  <div class="w3-half">
                    <%= f.input :start_date, :id => "datepicker1", as: :date, html5: true, class: "form-control input-group date", label: "Start Date", boolean_style: :inline, input_html: {style: "width: 90%", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                  </div>
                  <div class="w3-half">
                    <%= f.input :end_date, :id => "datepicker2", as: :date, html5: true, class: "form-control", label: "End Date", boolean_style: :inline, input_html: {style: "", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                  </div>
                <% end %>

              <% end %>

            </div>
            <%= f.input :a_download, :as => :hidden, input_html: {value: "a_download"} %>



            <!--            <br/>-->
          </div>

          <!--          <br>-->

          <div>
            <br>
            <%= f.submit "Filter", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Searching...'}, style: "width:auto;float:center;", remote: true %>
            <%#= link_to 'Back', entity_info_index_path(page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
            <button type="button" onclick="document.getElementById('reports').style.display='none'" class="w3-button w3-white w3-border w3-border-purple w3-small w3-round-large">Back</button>


            <br><br>
          </div>
        <% end %>


      </div>

    </div>


    <div class="col-md-7 col-md-offset-5">
    </div>

    <br/>
    <div class="col-md-7 col-md-offset-5">
      <br/>
      <br/>
    </div>
    <!--</div>-->

  </div>
</div>




<style>
  .modal-open {
    padding-right: 0 !important;
  }

  html {
    overflow-y: scroll !important;
  }


</style>



<script>
    $(function () {

        $('.pagination a').attr('data-remote', 'true');
        $('.modal-backdrop').remove();
    });


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var entity_info_id = $('#id_entity_info');
        var entity_div_id = $('#id_entity_div');
        var div_lov_id = $('#id_div_lov');
        // var ref_id = $('#id_ref');

        entity_info_id.change(function () {
            console.log("For entity_info id:: " + entity_info_id.val());
            entity_div_id.attr("title", "Now select a service.");
            Rails.ajax({
                type: "POST",
                url: "<%= general_division_ajax_call_path %>",
                data: "id_for_entity_info=" + entity_info_id.val(),
                dataType: "script"
            });
        });

        entity_div_id.change(function () {
            console.log("For entity service id:: " + entity_div_id.val());
            div_lov_id.attr("title", "Now select a service option.");
            Rails.ajax({
                type: "POST",
                url: "<%= general_lov_ajax_call_path %>",
                data: "id_for_entity_service=" + entity_div_id.val(),
                dataType: "script"
            });
        });

<!--        entity_div_id.change(function () {-->
<!--            console.log("For entity service id:: " + entity_div_id.val());-->
<!--            ref_id.attr("title", "Now select a reference.");-->
<!--            Rails.ajax({-->
<!--                type: "POST",-->
<!--                url: "<%#= general_ref_ajax_call_path %>",-->
<!--                data: "id_for_entity_service=" + entity_div_id.val(),-->
<!--                dataType: "script"-->
<!--            });-->
<!--        });-->

    });

    $('#csv').click(function () {
        console.log('works!');
        $('#csv_submit').click();
        console.log('works!');


    });

    /////////////////////////////////////////////////////////////

    $('#excel').click(function () {
        $('#excel_submit').click();
    });

    $('#csv_all').click(function () {
        $('#csv_all_submit').click();
    });

</script>
