

<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <!--<br/>-->

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-8 offset-md-2 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Payment Details</strong></h4>
        <p id="notice1"><strong></strong></p>

        <div class="w3-container w3-border w3-border-purple">
          <br/>
          <%  %>
          <% #entity_extra = @entity_info.entity_info_extras.where(active_status: true, del_status: false).order("entity_info_extra.created_at desc").first
             #entity_extra = EntityInfoExtra.where(entity_code: @entity_info.assigned_code, active_status: true, del_status: false).order(created_at: :desc).first

          %>
          <%  %>
          <div class="w3-container w3-responsive pre-scrollable w3-mobile">
            <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">
              <% division = EntityDivision.where(assigned_code: @pay_info.entity_div_code, active_status: true).order(created_at: :desc).first %>
              <% if division %>
                <% div_name = division.division_name %>
                <% div_alias_stationID = division.division_alias %>
                <% div_alias = "(#{division.division_alias})" %>
                <% merchant = EntityInfo.where(assigned_code: division.entity_code, active_status: true).order(created_at: :desc).first  %>
                <% if merchant %>
                  <% merchant_name = merchant.entity_name %>
                  <% merchant_alias = "(#{merchant.entity_alias})" %>
                <% else %>
                  <% merchant_name = "" %>
                  <% merchant_alias = "" %>
                <% end %>
              <% else %>
                <% div_name = "" %>
                <% div_alias_stationID = "" %>
                <% div_alias = "" %>
                <% merchant_name = "" %>
                <% merchant_alias = "" %>
              <% end %>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Merchant Name:</strong></td>
<!--                <td><strong><%#=  @pay_info.entity_division.entity_info.entity_name if @pay_info.entity_division != nil && @pay_info.entity_division.entity_info != nil %> (<%#= @pay_info.entity_division.entity_info.entity_alias if @pay_info.entity_division != nil && @pay_info.entity_division.entity_info != nil %>)</strong></td>-->
                <td><strong><%= merchant_name %> <%= merchant_alias %></strong></td>
              </tr>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Service Name:</strong></td>
<!--                <td><strong><%#= @pay_info.entity_division.division_name if @pay_info.entity_division != nil %> (<%#= @pay_info.entity_division.division_alias if @pay_info.entity_division != nil %>)</strong></td>-->
                <td><strong><%= div_name %> <%= div_alias %></strong></td>
              </tr>

              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "OMC" %>
                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Terminal/Station ID:</strong></td>
                  <td><strong><%= @pay_info.entity_division.comment %></strong></td>
                </tr>
              <% end %>

              <%# if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "OMC" %>
<!--                <tr>-->
<!--                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Terminal/Station ID:</strong></td>-->
<!--                  <td><strong><%#= div_alias_stationID %></strong></td>-->
<!--                </tr>-->
              <%# end %>
              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "OMC" %>
                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Attendant ID/Reference:</strong></td>
                  <td><strong><%= @pay_info.customer_name %></strong></td>
                </tr>
              <% else %>
                <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code != "MOP" %>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Reference Name:</strong></td>
                    <td><strong><%= @pay_info.reference %></strong></td>
                  </tr>
                <% else %>
                <% end %>

              <% end %>


              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code != "OMC" && @pay_info.entity_division.activity_type_code != "MOP" && @pay_info.entity_division.activity_type_code != "SHW" %>

              <% end %>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Selected Option:</strong></td>
                <td><strong><%= @pay_info.division_activity_lov.lov_desc if @pay_info.division_activity_lov != nil %></strong></td>
              </tr>

<!--              <tr>-->
<!--                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Service ID:</strong></td>-->
<!--                <td><strong><%#= @pay_info.service_id %></strong></td>-->
<!--              </tr>-->
              <% unless current_user.merchant_service? %>
              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Activity Type:</strong></td>
                <td>
                <% if @pay_info.entity_division != nil %>
                  <strong><%= @pay_info.entity_division.activity_type.assigned_code == "OMC" ? "Filling Station" : @pay_info.entity_division.activity_type.activity_type_desc %></strong>
                <% end %>
                </td>
              </tr>
              <% end %>
              <%# if entity_extra %>

              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "MOP" %>
                <tr>
                  <!--                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Customer No.(s):</strong></td>-->
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Payee:</strong></td>
                  <td><strong><%= @pay_info.customer_number if @pay_info.customer_number.present? %></strong></td>
                </tr>
              <% else %>
                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Customer No.(s):</strong></td>
                  <td><strong><%= @pay_info.customer_number if @pay_info.customer_number.present? %></strong></td>
                </tr>
              <% end %>



              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code != "OMC" && @pay_info.entity_division.activity_type_code != "MOP" && @pay_info.entity_division.activity_type_code != "SHW" %>
                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Name/Reference:</strong></td>
                  <td><strong><%= @pay_info.customer_name if @pay_info.customer_name.present? %></strong></td>
                </tr>
              <% end %>


              <%# if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code != "OMC" && @pay_info.entity_division.activity_type_code != "SHW" %>
              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "MOP" %>
                <tr>
<!--                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Recipient No.(s):</strong></td>-->
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Initiator:</strong></td>
                  <td><strong><%= @pay_info.recipient_number if @pay_info.recipient_number.present? %></strong></td>
                </tr>
              <% end %>

              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "MOP" %>
                <tr>
                  <!--                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Recipient No.(s):</strong></td>-->
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Reference:</strong></td>
                  <td><strong><%= @pay_info.narration if @pay_info.narration.present? %></strong></td>
                </tr>
              <% end %>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Transaction ID.:</strong></td>
                <td><strong><%= @pay_info.processing_id %></strong></td>
              </tr>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Network Trans ID:</strong></td>
                <td><strong><%= @pay_info.nw_trans_id %></strong></td>
              </tr>

<!--                <tr>-->
<!--                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Source:</strong></td>-->
<!--                  <td><strong><%#= @pay_info.src %></strong></td>-->
<!--                </tr>-->
              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "HSP" %>
                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Payment Mode:</strong></td>
                  <% if @pay_info.payment_mode == "CSH" %>
                    <td><strong>Cash</strong></td>
                <% elsif @pay_info.payment_mode == "MOM" %>
                    <td><strong>Mobile Money</strong></td>
                <% else %>
                <% end %>
                </tr>
              <% end %>

                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Amount:</strong></td>
                  <td><strong><%= @pay_info.amount %></strong></td>
                </tr>

              <% if @pay_info.entity_division != nil && (@pay_info.entity_division.activity_type_code == "SHW" || @pay_info.entity_division.activity_type_code == "SPO") %>
                <% @act_sub_div_obj = ActivitySubDiv.where(id: @pay_info.activity_sub_div_id).first %>
                <% if @act_sub_div_obj %>
                  <% @classification = @act_sub_div_obj.classification.present? ? ActivitySubDivClass.where(id: @act_sub_div_obj.classification).first : false %>
                  <% if @classification %>
                    <tr>
                      <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Ticket Type:</strong></td>
                      <td><strong><%= @classification.class_desc %></strong></td>
                    </tr>
                  <% end %>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Activity Time:</strong></td>
                    <td><strong><%= @act_sub_div_obj.activity_time.strftime('%H:%M') if @act_sub_div_obj.activity_time.present? %></strong></td>
                  </tr>
                <% end %>

                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Recipient Email:</strong></td>
                  <td><strong><%= @pay_info.recipient_email %></strong></td>
                </tr>

                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Quantity:</strong></td>
                  <td><strong><%= @pay_info.qty %></strong></td>
                </tr>

              <% end %>

              <% if @pay_info.entity_division != nil && @pay_info.entity_division.activity_type_code == "HSP" %>
                <% if @pay_info.payment_option == true %>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Payment Type:</strong></td>
                    <td><strong>Active</strong></td>
                  </tr>
                <% elsif @pay_info.payment_option == false %>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Payment Type:</strong></td>
                    <td><strong>Inactive</strong></td>
                  </tr>
                <% else %>
                <% end %>

                <% if @pay_info.card_option == "C" %>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Card Option Status:</strong></td>
                    <td><strong>Card Holder</strong></td>
                  </tr>
                <% elsif @pay_info.card_option == "N" %>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Card Option Status:</strong></td>
                    <td><strong>Non Card Holder</strong></td>
                  </tr>
                <% else %>
                <% end %>
              <% end %>

              <% if @pay_info.entity_division != nil && (@pay_info.entity_division.activity_type_code != "OMC" && @pay_info.entity_division.activity_type_code != "MOP") %>
                <tr>
                  <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Transaction Type:</strong></td>
                  <td><strong><%= @pay_info.trans_type %></strong></td>
                </tr>
              <% end %>



              <% @merchant_service_trxn = EntityServiceAccountTrxn.where(entity_div_code: @pay_info.entity_div_code, processing_id: @pay_info.processing_id).order(created_at: :desc).first %>
              <% @assigned_fee = AssignedFee.where(entity_div_code: @pay_info.entity_div_code).order(created_at: :desc).first %>

              <% if current_user.super_admin? || current_user.super_user? || current_user.user_show_charge == true %>
                <% if @pay_info.charge != nil && @pay_info.charge > 0 && @merchant_service_trxn && @merchant_service_trxn.charge != nil && @merchant_service_trxn.charge > 0 %>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Merchant Charge:</strong></td>
                    <td><strong><%= @merchant_service_trxn.charge %></strong></td>
                  </tr>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Customer Charge:</strong></td>
                    <td><strong><%= @pay_info.charge %></strong></td>
                  </tr>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Charged To:</strong></td>
                    <td><strong>Merchant and Customer</strong></td>
                  </tr>
                <% else %>
                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Charge:</strong></td>
                    <%# if @assigned_fee && @assigned_fee.charged_to == "C" %>
                    <% logger.info "========================== Charge on pay table is #{@pay_info.charge}, class : #{@pay_info.charge.class}" %>
                    <% if @pay_info.charge == 0.000 %>
                      <% if  @merchant_service_trxn %>
                        <% logger.info "========================== Charge is #{@merchant_service_trxn.charge.inspect}" %>
                        <td><strong><%= @merchant_service_trxn.charge %></strong></td>
                      <% else %>
                        <td><strong>0.0</strong></td>
                      <% end %>

                      <%# elsif @merchant_service_trxn && @assigned_fee && @assigned_fee.charged_to == "M" %>

                    <% else %>
                      <% logger.info "========================== Charge is #{@pay_info.charge}" %>
                      <td><strong><%= @pay_info.charge %></strong></td>
                    <% end %>
                  </tr>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Charge To:</strong></td>

                    <%# if @assigned_fee && @assigned_fee.charged_to == "C" %>

                    <% if @pay_info.charge == 0.000 %>
                      <% logger.info "=========================Charge for Merchant" %>
                      <td><strong>Merchant</strong></td>
                      <%# elsif @assigned_fee && @assigned_fee.charged_to == "M" %>
                    <% else %>
                      <% logger.info "============================Charge for Customer" %>
                      <td><strong>Customer</strong></td>
                      <!--                    <td><strong>No Charges Recorded</strong></td>-->
                    <% end %>
                  </tr>
                <% end %>

              <% end %>


<!--              <tr>-->
<!--                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Reference:</strong></td>-->
<!--                <td><strong><%#= @pay_info.reference %></strong></td>-->
<!--              </tr>-->



              <%# end %>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Status:</strong></td>
                <%# status = @pay_info.trans_status.present? ? @pay_info.trans_status.split("/")[0] : "nil" %>
                <%# if status == "000" %>
<!--                  <td><strong>Success</strong></td>-->
                <%# elsif status == "nil" %>
<!--                  <td><strong>Pending</strong></td>-->
                <%# else %>
<!--                  <td><strong>Failed</strong></td>-->
                <%# end %>

                <% if @pay_info.processed == true %>
                  <td><strong>Success</strong></td>
                <% elsif @pay_info.processed == false %>
                  <td><strong>Failed</strong></td>
                <% else %>
                  <td><strong>Pending</strong></td>
                <% end %>

              </tr>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Source:</strong></td>
                <td><strong><%= @pay_info.src %></strong></td>
              </tr>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Payment Description:</strong></td>
                <td><strong><%= @pay_info.trans_msg %></strong></td>
              </tr>

              <tr>
                <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Date:</strong></td>
                <td>
                  <strong><%= @pay_info.created_at %></strong>
                </td>
              </tr>

            </table>
          </div>

          <br/>
          <div class="w3-center">
            <%= link_to 'Back', payment_info_index_path(params: params.to_unsafe_h, page: params[:page], count: params[:count]), class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large', remote: true %>
<!--            <button type="button" onclick="document.getElementById('pay_show').style.display='none'" class="w3-card-4 w3-btn w3-dark-grey w3-border w3-ripple w3-round-large w3-border-grey">Back</button>-->
          </div>
          <br/>
        </div>
        <br>
      </div>

    </div>


    <!--</div>-->
    <!--<br>-->
    <div class="">
      <br><br>
    </div>
  </div>

</div>































