
<div>
  <br>
  <p id="notes9"><%#= notice %></p>
  <p id="div_cat_top"><%#= notice %></p>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_activity_div_cat_path(entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <%= link_to 'BACK', main_sports_index_path(entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
    </div>
    <div class="w3-half">
      <%= select_tag :count, options_for_select([10,20,30,40,50], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "activity_div_cats", :action => "activity_div_cat_index", params: {
                         entity_code: params[:entity_code], code: params[:code]
                     })},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>

  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Category desc</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>

      <% @activity_div_cats.each do |activity_div_cat| %>

        <tr>
          <td><%= link_to 'VIEW', activity_div_cat_path(activity_div_cat, show_click: "show_click", entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px;",
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%></td>
          <td><strong><%= activity_div_cat.div_cat_desc %></td>
          <% if activity_div_cat.active_status %>
            <td><strong>Active</strong></td>
          <% else %>
            <td><strong>Inactive</strong></td>
          <% end %>
          <td><strong><%= activity_div_cat.created_at %></strong></td>
          <td>
            <%= link_to 'TYPES', new_activity_category_div_path(div_cat_id: activity_div_cat, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                        style: "width:100px; height: 30px; color: #800754 !important",
                        class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <%= link_to 'EDIT', edit_activity_div_cat_path(activity_div_cat, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                        style: "width:100px; height: 30px; color: #800754 !important",
                        class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% if activity_div_cat.active_status %>
              <%= link_to 'DISABLE', activity_div_cat_path(activity_div_cat, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px; color: #800754 !important",
                          method: :delete, data: { confirm: "Do you wish to disable: #{activity_div_cat.div_cat_desc}?" },
                          class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% else %>
              <%= link_to 'ENABLE', activity_div_cat_path(activity_div_cat, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px;",
                          method: :delete, data: { confirm: "Do you wish to enable: #{activity_div_cat.div_cat_desc}?" },
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% end %>


          </td>
        </tr>

      <% end %>

      </tbody>
    </table>
    <% unless params[:count] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @activity_div_cats, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "activity_div_cats", :action => "activity_div_cat_index", count: params[:count], page: params[:page] } %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
      </div>
    <% end %>
  </div>


</div>


<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
