
<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Activity Sub Category Details</strong></h4>
        <p id="notice9"><strong></strong></p>
        <div class="w3-container">
          <br/>

          <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">

            <!--            <tr>-->
            <!--              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Team Logo:</strong></td>-->
            <!--              <td><strong><%#= @activity_participant.assigned_code %></strong></td>-->
            <!--            </tr>-->

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Sub Category Name:</strong></td>
              <td><strong><%= @activity_div_cat.div_cat_desc %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Status:</strong></td>

              <% if @activity_div_cat.active_status %>
                <td><strong>Active</strong></td>
              <% else %>
                <td><strong>Inactive</strong></td>
              <% end %>
            </tr>

            <!--            <tr>-->
            <!--              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Comment:</strong></td>-->
            <!--              <td><strong><%#= @activity_participant.comment %></strong></td>-->
            <!--            </tr>-->


            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Date:</strong></td>
              <td>
                <strong><%= @activity_div_cat.created_at %></strong>
              </td>
            </tr>

          </table>

          <br/>

          <% if params[:show_click] == "show_click" %>
            <div class="w3-container pre-scrollable w3-border w3-border-purple">
              <h4><strong><%= @activity_category_divs.last.activity_div_cat.div_cat_desc if @activity_category_divs.present? %> Category Types</strong></h4>
              <table class="w3-responsive table-striped w3-table-all table-bordered w3-hoverable w3-card-4">
                <thead>
                <tr class="w3-vpos-purple">
                  <th></th>
                  <!--                <th>Sport Type</th>-->
<!--                  <th>Category</th>-->
                  <th>Category Type</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @activity_category_divs.each do |activity_category_div| %>

                  <tr>
                    <td><%= link_to 'VIEW', activity_category_div_path(activity_category_div, class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                    style: "width:80px; height: 30px;",
                                    class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%></td>
                    <!--                  <td><strong><%#= activity_category_div.activity_category.activity_cat_desc %> <%##= entity_info.entity_category.assigned_code %></strong></td>-->
<!--                    <td><strong><%#= activity_category_div.activity_div_cat.div_cat_desc %> <%##= entity_info.entity_category.assigned_code %></strong></td>-->
                    <td><strong><%= activity_category_div.category_div_desc %> <%#= entity_info.entity_category.assigned_code %></strong></td>
                    <% if activity_category_div.active_status %>
                      <td><strong>Active</strong></td>
                    <% else %>
                      <td><strong>Inactive</strong></td>
                    <% end %>
                    <td><strong><%= activity_category_div.created_at %></strong></td>
                    <td>
                      <% if activity_category_div.active_status && activity_category_div.del_status == false %>

                        <%= link_to 'EDIT', edit_activity_category_div_path(activity_category_div, class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                    style: "width:80px; height: 30px; color: #800754 !important",
                                    class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                      <% else %>

                        <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">EDIT</button>
                      <% end %>

                      <% if activity_category_div.active_status %>
                        <%= link_to 'DISABLE', activity_category_div_path(activity_category_div, show_click: params[:show_click], class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                    style: "width:80px; height: 30px; color: #800754 !important",
                                    method: :delete, data: { confirm: "Do you wish to disable: #{activity_category_div.category_div_desc}?" },
                                    class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                      <% else %>
                        <%= link_to 'ENABLE', activity_category_div_path(activity_category_div, show_click: params[:show_click], class_div_top: params[:class_div_top], code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                                    style: "width:80px; height: 30px;",
                                    method: :delete, data: { confirm: "Do you wish to enable: #{activity_category_div.category_div_desc}?" },
                                    class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                      <% end %>


                    </td>
                  </tr>

                <% end %>

                </tbody>
              </table>
              <br/>
            </div>
            <br/>
          <% end %>

          <div class="w3-center">
            <%#= link_to 'Back', activity_participant_index_path(page: params[:page], count: params[:count]), class: 'w3-bar-item w3-btn w3-ripple w3-round-large w3-dark-gray', remote: true %>
            <%= link_to 'Back', activity_div_cat_index_path(code: params[:code], entity_code: params[:entity_code], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>

          </div>
          <br/>
        </div>

      </div>
      <br/>
    </div>

    <!--</div>-->

  </div>
</div>





