
<%#= render 'form', entity_division: @entity_division %>

<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>




    <div class="">

      <div class="w3-white w3-hover-shadow col-md-8 offset-md-2 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Edit Merchant Services</strong></h4>

        <div class="w3-container">
          <br/>
          <%#= simple_form_for(@entity_division, :data => {:remote => true, count: params[:count], page: params[:page]}) do |f| %>
          <%= simple_form_for(@entity_division, url: entity_division_path(@entity_division, code: params[:code], action_type: "for_update", entity_code: params[:entity_code], count1: params[:count1], page1: params[:page1], count: params[:count], page: params[:page] ),:remote => true) do |f| %>

              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<!--            <div class="w3-container col-md-4 offset-md-4" style="width: 40%">-->
<!--              <div class="w3-half"><label>Allow QR</label></div>-->
<!--              <div class="w3-half">-->
                <%#= f.input :allow_qr, label: false, as: :boolean, required: false, input_html: {id: "allow_qr", autocomplete: "off", class: "", style: "display: block; float: left; width: 50%"} %>
<!--              </div>-->
<!--            </div>-->

            <div class="w3-container " style="">

              <div class="w3-center">
                <div class="">
                  <!--                <div class=""><label>Allow QR</label></div>-->
                  <%= f.input :allow_qr, label: "Allow QR", as: :boolean, required: false, input_html: {id: "allow_qr", autocomplete: "off", class: "", style: "display: block; float: left; width: 50%"} %>
                </div>
              </div>

              <div class="w3-half">
<!--                <div class=""><label>Allow QR</label></div>-->
                <%= f.input :payment_type, label: "Payment Type", as: :boolean, required: false, input_html: {id: "payment_type", autocomplete: "off", class: "", style: "display: block; float: left; width: 50%"} %>
              </div>

              <div class="w3-half">
                <!--                <div class=""><label>Allow QR</label></div>-->
                <%= f.input :card_option_status, label: "Card Option Status", as: :boolean, required: false, input_html: {id: "card_option_status", autocomplete: "off", class: "", style: "display: block; float: left; width: 50%"} %>
              </div>

              <div class="" style="display: none;">
<!--                <div class=""><label>Link Master</label></div>-->
                <%= f.input :link_master, label: "Link To Merchant", as: :boolean, required: false, input_html: {id: "link_master", autocomplete: "off", value: "off", style: "display: block; float: left; width: 50%"} %>
<!--              <h6 id="link_master">sdfsdf</h6>-->
              </div>
              <br><br>
            </div>

            <div class="w3-half">
                <%= f.input :division_name, label: "Service Name", required: true, input_html: {id: "div_name", value: @entity_division.division_name, autofocus: true, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
                <%= f.input :division_alias, label: "Service Alias", required: true, input_html: {id: "div_alias", value: @entity_division.division_alias, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
                <%= f.input :activity_type_code, label: "Activity Code", selected: @entity_division.activity_type_code, collection: @activity_types, label_method: :activity_name, value_method: :assigned_code, required: true, input_html: {id: "activity_key", autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
              <div id="min_amt_div">
                <%= f.input :min_amount, as: :integer, label: "Minimum Amount", required: true, input_html: {id: "min_amt", autocomplete: "off", min: 0, max: 999999, class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
              </div>
              <div id="act_loc_div">
                <%= f.input :activity_loc, label: "Activity Location", required: true, input_html: {id: "act_loc", autocomplete: "off", min: 0, max: 999999, class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
              </div>

                <%= f.input :service_code, as: :integer, label: "Shortcode Ext", required: true, input_html: {id: "serv_code", value: @service_code, autocomplete: "off", min: 1, max: 999999, oninput: "validity.valid||(value='');", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
                <%= f.input :service_label, label: "Service Label", required: true, input_html: {id: "serv_label", value: @entity_division.service_label, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
                <%= f.input :comment, label: "Extra Ref.", required: true, input_html: {id: "extra_ref", value: @entity_division.comment, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%"} %>

              </div>


              <div class="w3-half">
                <div id="extra_desc_div">
                  <%= f.input :extra_desc, as: :text, label: "Activity Description", required: true, input_html: {id: "extra_desc", autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
                </div>
                <%= f.input :sms_sender_id, label: "SMS Sender ID", required: true, input_html: {id: "sender_id", value: @entity_division.sms_sender_id, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: ""} %>
                <%= f.input :region_name, label: "Region", selected: @region_id, collection: @region_masters, label_method: :region_name, value_method: :id, required: true, input_html:{id: "for_region", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
                <%= f.input :city_town_name, label: "City", selected: @city_id, collection: @city_town_masters, label_method: :city_town_name, value_method: :id, required: true, input_html:{id: "for_city", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>
                <%= f.input :suburb_id, label: "Suburb", selected: @suburb_id, collection: @suburb_masters, label_method: :suburb_name, value_method: :id, required: true, input_html:{id: "for_suburb", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

                <div id="for_wallet">
                  <%= f.input :serv_id, as: :integer, label: "Service ID", required: true, input_html: {id: "serv_id", value: @service_id, autocomplete: "off", min: 1, max: 9999, oninput: "validity.valid||(value='');", class: "form-control w3-input w3-border w3-white input-group input-append", style: ""} %>
                  <%= f.input :c_key, label: "Client Key", required: true, input_html: {id: "c_key", value: @client_key, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: ""} %>
                  <%= f.input :s_key, label: "Secret Key", required: true, input_html: {id: "s_key", value: @secret_key, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: ""} %>
                </div>

                <%# if @entity_division.link_master %>
                  <%#= f.input :comment, label: "Comment", :as => :text, required: false, input_html: {rows: 3, cols: 3, autocomplete: "off", class: "form-control w3-border ", style: ""} %>
                  <%#= f.input :link_master, :as => :hidden, input_html: {value: true} %>
                <%# elsif @entity_division.link_master == false %>
                  <%#= f.input :link_master, :as => :hidden, input_html: {value: false} %>
                  <%#= f.input :serv_id, as: :integer, label: "Service ID", required: true, input_html: {id: "serv_id", value: @service_id, autocomplete: "off", min: 1, max: 9999, oninput: "validity.valid||(value='');", class: "form-control w3-input w3-border w3-white input-group input-append", style: ""} %>
                  <%#= f.input :c_key, label: "Client Key", required: true, input_html: {id: "c_key", value: @client_key, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: ""} %>
                  <%#= f.input :s_key, label: "Secret Key", required: true, input_html: {id: "s_key", value: @secret_key, autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: ""} %>

                <%# else %>
                  <%#= f.input :link_master, :as => :hidden, input_html: {value: true} %>
                  <%#= f.input :comment, label: "Comment", :as => :text, required: false, input_html: {rows: 3, cols: 3, autocomplete: "off", class: "form-control w3-border ", style: ""} %>
                <%# end %>

              </div>

              <%#= f.simple_fields_for :activity_divs do |ff| %>
              <%#= ff.input :activity_div_desc, label: "Activity Description", value_method: :id, required: true, input_html: {id: "activity_desc", autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
              <%#= ff.input :api_key,  label: "Sms Key", value_method: :id, required: true, input_html:{id: "api_key", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:"width: 90%; height: 25px"}  %>
              <%#= ff.input :activity_date, label: "Activity Date", required: true, input_html: {id: "activity_date", autocomplete: "off", class: "form-control w3-input w3-border w3-white input-group input-append", style: "width: 90%;"} %>
              <%#= ff.input :active_status, :as => :hidden, input_html: {value: true} %>
              <%#= ff.input :del_status, :as => :hidden, input_html: {value: false} %>
              <%# end %>
              <%= f.input :entity_code, :as => :hidden, input_html: {value: @entity_division.entity_code} %>
              <%#= f.input :assigned_code, :as => :hidden, input_html: {value: @entity_division.assigned_code} %>
              <%= f.input :active_status, :as => :hidden, input_html: {value: true} %>
              <%= f.input :del_status, :as => :hidden, input_html: {value: false} %>
              <%= f.input :for_update, :as => :hidden, input_html: {value: true} %>
              <%= f.input :created_at, :as => :hidden, input_html: {value: @entity_division.created_at.strftime('%Y-%m-%d %H:%M:%S.%N')} %>
              <%#= f.input :active_status, :as => :hidden, input_html:{value: true} %>
              <%= f.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>

              <div>
                <%= f.submit "Submit", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Please Wait...'}, style: "width:auto;float:center;", remote: true %>
                <% if params[:interface_type] == "info" %>
                    <%= link_to 'Back', entity_index_path(entity_code: params[:entity_code], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large", remote: true %>
                <% else %>
                    <%= link_to 'Back', entity_division_index_path(entity_code: params[:entity_code], service_filter: $service_filter.present? ? $service_filter.to_enum.to_h : "", count1: params[:count1], page1: params[:page1], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large", remote: true %>
                <% end %>
                <%#= link_to 'Back', entity_index_path(entity_code: params[:entity_code], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large", remote: true %>
              </div>
          <% end %>
          <br/>
        </div>


      </div>

    </div>


    <div class="col-md-7 col-md-offset-5">
    </div>






    <br/>
    <div class="col-md-7 col-md-offset-5">
      <br/>
      <br/>
    </div>
    <!--</div>-->

  </div>
</div>



<script>

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        var region_id = $('#for_region');
        var city_id = $("#for_city");
        var suburb_id = $("#for_suburb");
        var for_wallet = "for_wallet";
        var link_master = $("#link_master");
        var activity_type_id = $("#activity_key");

        // if (activity_type_id.val() === "DON") {
        //     document.getElementById("min_amt_div").style.display = "block";
        // } else {
        //     document.getElementById("min_amt_div").style.display = "none";
        //     document.getElementById("min_amt").value = "";
        // }

        if (activity_type_id.val() === "DON") {
            document.getElementById("min_amt_div").style.display = "block";
            document.getElementById("extra_desc_div").style.display = "none";
            document.getElementById("act_loc_div").style.display = "none";
            document.getElementById("extra_desc").value = "";
            document.getElementById("act_loc").value = "";
        } else if (activity_type_id.val() === "SHW") {
            document.getElementById("extra_desc_div").style.display = "block";
            document.getElementById("act_loc_div").style.display = "block";
            document.getElementById("min_amt_div").style.display = "none";
            document.getElementById("min_amt").value = "";
        }
        else {
            document.getElementById("extra_desc_div").style.display = "none";
            document.getElementById("act_loc_div").style.display = "none";
            document.getElementById("min_amt_div").style.display = "none";
            document.getElementById("min_amt").value = "";
            document.getElementById("extra_desc").value = "";
            document.getElementById("act_loc").value = "";
        }

        <% if @entity_division.link_master %>
        document.getElementById(for_wallet).style.display = "none";
        <% elsif @entity_division.link_master == false %>
        document.getElementById(for_wallet).style.display = "block";
        <% else %>
        document.getElementById(for_wallet).style.display = "block";
        <% end %>

        link_master.change(function() {
            if (document.getElementById("link_master").checked) {
                document.getElementById(for_wallet).style.display = "none";
            } else {
                document.getElementById(for_wallet).style.display = "block";
            }
        });


//    district_id.attr("title", "First select a district!");
        city_id.attr("title", "Secondly select a city after region selection!");

        region_id.change(function() {
            console.log("For region id:: " + region_id.val());
//      $('[data-toggle="tooltip"]').tooltip();
//      city_id.attr("disabled", false);
            city_id.attr("title", "Now select a city/town!");

            Rails.ajax({
                type: "POST",
                url: "<%= suburb_city_ajax_call_path %>",
                data: "id_for_region=" + region_id.val(),
                dataType: "script"
            });

        });

        city_id.change(function() {
            console.log("For city_town id:: " + city_id.val());
//      $('[data-toggle="tooltip"]').tooltip();
//      city_id.attr("disabled", false);
            suburb_id.attr("title", "Now select a suburb!");

            Rails.ajax({
                type: "POST",
                url: "<%= general_suburb_ajax_call_path %>",
                data: "id_for_city_town=" + city_id.val(),
                dataType: "script"
            });

        });

        activity_type_id.change(function() {
            // if (activity_type_id.val() === "DON") {
            //     document.getElementById("min_amt_div").style.display = "block";
            // } else {
            //     document.getElementById("min_amt_div").style.display = "none";
            //     document.getElementById("min_amt").value = "";
            // }
            if (activity_type_id.val() === "DON") {
                document.getElementById("min_amt_div").style.display = "block";
                document.getElementById("extra_desc_div").style.display = "none";
                document.getElementById("act_loc_div").style.display = "none";
                document.getElementById("extra_desc").value = "";
                document.getElementById("act_loc").value = "";
            } else if (activity_type_id.val() === "SHW") {
                document.getElementById("extra_desc_div").style.display = "block";
                document.getElementById("act_loc_div").style.display = "block";
                document.getElementById("min_amt_div").style.display = "none";
                document.getElementById("min_amt").value = "";
            }
            else {
                document.getElementById("extra_desc_div").style.display = "none";
                document.getElementById("act_loc_div").style.display = "none";
                document.getElementById("min_amt_div").style.display = "none";
                document.getElementById("min_amt").value = "";
                document.getElementById("extra_desc").value = "";
                document.getElementById("act_loc").value = "";
            }
        });

    });

</script>



