
<div>
  <br>
  <p id="notes2"><%#= notice %></p>
  <p id="for_division_setup"><%#= notice %></p>
  <h4><%= @entity_name %></h4>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_entity_division_path(entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <% if current_user.super_admin? || current_user.super_user? #|| current_user.merchant_admin? %>
        <%= link_to 'BACK', entity_index_path(filter_main1: $merchant_filter.present? ? $merchant_filter.to_enum.to_h : "", count: params[:count], page: $entity_index_page), style: "width:120px;",
                    class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <% end %>
    </div>
    <div class="w3-half">
      <%= select_tag :count1, options_for_select([50, 100, 150, 200, 500], params[:count1].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "entity_divisions", :action => "entity_division_index",
                                                                  :params => {entity_code: params[:entity_code],
                                                                              count: params[:count], page: params[:page]})},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Service Name</th>
        <th>Activity Type</th>
        <th>Status</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @entity_divisions.each do |entity_division| %>
      <% division_act_lov = DivisionActivityLov.where(division_code: entity_division.assigned_code, active_status: true) %>
        <% activity_div = ActivityDiv.where(division_code: entity_division.assigned_code, active_status: true) %>
        <% act_sub_div_class = ActivitySubDivClass.where(entity_div_code: entity_division.assigned_code, del_status: false) %>


          <tr>
            <td>
              <%= link_to 'VIEW', entity_division_path(entity_division, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]),
                            style: "width:60px; height: 30px;",
                            class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>

            <% if entity_division.activity_type.assigned_code == "SHW" || entity_division.activity_type.assigned_code == "SPO" %>
                <% if act_sub_div_class.exists? %>
                  <%= link_to 'TICKET TYPES', activity_sub_div_classes_path(code: entity_division.assigned_code, class_div_top: "class_div_top", entity_code: params[:entity_code], count1: params[:count1], count: params[:count]),
                              style: "width:100px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% else %>
                  <%= link_to 'TICKET TYPES', new_activity_sub_div_class_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]),
                              style: "width:100px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% end %>
            <% else %>
<!--                <button class="w3-button w3-purple-vpos w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">TICKET TYPES</button>-->
            <% end %>

            </td>
            <td><strong><%= entity_division.assigned_code %></strong></td>
<!--            <td><strong><%#= entity_division.division_name %> <%##= entity_division.division_alias %></strong></td>-->
            <td><strong><%= entity_division.division_name.length > 21 ? "#{entity_division.division_name[0..21]}.." : entity_division.division_name %></strong></td>

            <td><strong><%= entity_division.activity_type.activity_type_desc %> <%#= entity_info.entity_category.assigned_code %></strong></td>
            <% if entity_division.active_status %>
                <td><strong>Active</strong></td>
            <% else %>
                <td><strong>Inactive</strong></td>
            <% end %>
            <td><strong><%= entity_division.created_at %></strong></td>
            <td>
              <% if entity_division.active_status && entity_division.del_status == false %>

                <% if current_user.super_admin? || current_user.super_user? %>
                  <%= link_to 'SERVICE FEES', assigned_fee_index_path(entity_code: params[:entity_code], code: entity_division.assigned_code, count1: params[:count1], count: params[:count]),
                              style: "width:100px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% else %>
                  <%#= link_to 'ADD SERVICES', new_entity_division_path(entity_code: entity_info, interface_type: "info", count: params[:count], page: params[:page]),
                              style: "width:120px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% end %>
                <% if entity_division.activity_type.assigned_code == "CHC" || entity_division.activity_type.assigned_code == "SCH" #|| entity_division.activity_type.assigned_code == "DON" || entity_division.activity_type.assigned_code == "GEN" %>
                  <%= link_to 'ACTIVITY CODE', entity_div_sub_activity_index_path(entity_code: params[:entity_code], code: entity_division.assigned_code, count1: params[:count1], count: params[:count]),
                              style: "width:110px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% else %>
                <% end %>
                <% if entity_division.activity_type.assigned_code == "SPO" %>

                  <!--                  <li class="nav-item dropdown">-->
                  <!--<i class="fas fa-angle-down"></i>-->
                  <!--                    <button class="nav-link text-light dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Setup </button>-->

                  <button id="navbardrop" data-toggle="dropdown" class="w3-button w3-white w3-border dropdown-toggle w3-border-purple w3-tiny w3-round-large" style="width:65px; height: 30px; color: #800754 !important">SETUP</button>

                  <div class="dropdown-menu dropdown-menu-right">
                    <% if division_act_lov.exists? || activity_div.exists? %>
                      <a class="dropdown-item" href= "<%= division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                    <% else %>
                      <a class="dropdown-item" href= "<%= division_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                    <% end %>
                    <a class="dropdown-item" href="<%= sport_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>Add Fixtures</strong></a>
                  </div>

                  <!--                  </li>-->
                <% else %>
                  <% if entity_division.activity_type.assigned_code == "MIP" %>
                    <%= link_to 'SETUP', entity_admin_whitelist_index_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]),
                                style: "width:65px; height: 30px; color: #800754 !important",
                                class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                  <% else %>
                    <button id="navbardrop" data-toggle="dropdown" class="w3-button w3-white w3-border dropdown-toggle w3-border-purple w3-tiny w3-round-large" style="width:65px; height: 30px; color: #800754 !important">SETUP</button>

                    <div class="dropdown-menu dropdown-menu-right">
                      <% if division_act_lov.exists? || activity_div.exists? %>
                        <a class="dropdown-item" href= "<%= division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                      <% else %>
                        <a class="dropdown-item" href= "<%= division_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                      <% end %>
                        <a class="dropdown-item" href="<%= entity_div_alert_recipient_index_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>Merchant Notification</strong></a>
                    </div>


                    <%# if division_act_lov.exists? %>
                      <%#= link_to 'SETUP', division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], page1: params[:page1], count: params[:count], page: params[:page]),
                                  style: "width:65px; height: 30px; color: #800754 !important",
                                  class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>

                    <%# elsif activity_div.exists? %>
                      <%#= link_to 'SETUP', division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], page1: params[:page1], count: params[:count], page: params[:page]),
                                  style: "width:65px; height: 30px; color: #800754 !important",
                                  class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                    <%# else %>
                      <%#= link_to 'SETUP', division_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], page1: params[:page1], count: params[:count], page: params[:page]),
                                  style: "width:65px; height: 30px; color: #800754 !important",
                                  class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                    <%# end %>
                  <% end %>

                <% end %>

                  <%= link_to 'EDIT', edit_entity_division_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]),
                              style: "width:50px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true %>
              <% else %>
                  <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">SERVICE FEES</button>
                <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">ACTIVITY CODE</button>
                <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:65px; height: 30px; color: #800754 !important">SETUP</button>
                  <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:50px; height: 30px; color: #800754 !important">EDIT</button>
              <% end %>


              <% if entity_division.active_status %>
                  <%= link_to 'DISABLE', entity_division_path(entity_division, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px; color: #800754 !important",
                              method: :delete, data: { confirm: "Do you wish to disable: #{entity_division.division_name} (#{entity_division.division_alias})?" },
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% else %>
                  <%= link_to 'ENABLE', entity_division_path(entity_division, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px;",
                              method: :delete, data: { confirm: "Do you wish to enable: #{entity_division.division_name} (#{entity_division.division_alias})?" },
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% end %>

            </td>
          </tr>

      <% end %>


      </tbody>
    </table>
    <% unless params[:count1] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @entity_divisions, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "entity_divisions", :action => "entity_division_index", entity_code: params[:entity_code],
                                       count1: params[:count1], count: params[:count], page: params[:page] } %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
      </div>
    <% end %>
  </div>



</div>



<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
