
<div>
  <br>
  <p id="notes2"><%#= notice %></p>
  <p id="for_division_setup"><%#= notice %></p>
  <h4><%= @entity_name %></h4>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_entity_division_path(entity_code: params[:entity_code], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <%= link_to 'BACK', entity_index_path(count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
    </div>
    <div class="w3-half">
      <%= select_tag :count, options_for_select([10,20,30,40,50], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "entity_divisions", :action => "entity_division_index", :params => {entity_code: params[:entity_code]})},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Division Name (Division Alias)</th>
        <th>Activity Type</th>
        <th>Status</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @entity_divisions.each do |entity_division| %>
      <% division_act_lov = DivisionActivityLov.where(division_code: entity_division.assigned_code, active_status: true) %>
        <% activity_div = ActivityDiv.where(division_code: entity_division.assigned_code, active_status: true) %>
        <% act_sub_div_class = ActivitySubDivClass.where(entity_div_code: entity_division.assigned_code, del_status: false) %>


          <tr>
            <td>
              <%= link_to 'VIEW', entity_division_path(entity_division, entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                            style: "width:80px; height: 30px;",
                            class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>

            <% if entity_division.activity_type.assigned_code == "SHW" %>
                <% if act_sub_div_class.exists? %>
                  <%= link_to 'CLASSES', activity_sub_div_classes_path(code: entity_division.assigned_code, class_div_top: "class_div_top", entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% else %>
                  <%= link_to 'CLASSES', new_activity_sub_div_class_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% end %>
            <% else %>
                <button class="w3-button w3-purple-vpos w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:80px; height: 30px; color: #800754 !important">CLASSES</button>
            <% end %>

            </td>
            <td><strong><%= entity_division.division_name %> (<%= entity_division.division_alias %>)</strong></td>
            <td><strong><%= entity_division.activity_type.activity_type_desc %> <%#= entity_info.entity_category.assigned_code %></strong></td>
            <% if entity_division.active_status %>
                <td><strong>Active</strong></td>
            <% else %>
                <td><strong>Inactive</strong></td>
            <% end %>
            <td><strong><%= entity_division.created_at %></strong></td>
            <td>
              <% if entity_division.active_status && entity_division.del_status == false %>
                <% if division_act_lov.exists? || activity_div.exists? %>
                  <%= link_to 'SETUP', division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                  <% else %>
                  <%= link_to 'SETUP', division_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                  <% end %>

                  <%= link_to 'EDIT', edit_entity_division_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% else %>
                  <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:80px; height: 30px; color: #800754 !important">SETUP</button>
                  <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:80px; height: 30px; color: #800754 !important">EDIT</button>
              <% end %>


              <% if entity_division.active_status %>
                  <%= link_to 'DISABLE', entity_division_path(entity_division, entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px; color: #800754 !important",
                              method: :delete, data: { confirm: "Do you wish to disable: #{entity_division.division_name} (#{entity_division.division_alias})?" },
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% else %>
                  <%= link_to 'ENABLE', entity_division_path(entity_division, entity_code: params[:entity_code], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px;",
                              method: :delete, data: { confirm: "Do you wish to enable: #{entity_division.division_name} (#{entity_division.division_alias})?" },
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% end %>

            </td>
          </tr>

      <% end %>


      </tbody>
    </table>
  </div>



</div>


<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
