
<div>
  <br>
  <p id="notes2"><%#= notice %></p>
  <p id="for_division_setup"><%#= notice %></p>
  <h4><%= @entity_name %></h4>
  <br>
  <div>
    <div class="w3-half">
      <button type="button" onclick="document.getElementById('service_filter').style.display='block'" style="font-size: small; width: 165px;" class="w3-btn btn btn-outline-purple tablink w3-vpos-purple">SERVICE FILTER</button>
      <%= link_to 'NEW', new_entity_division_path(entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <% if current_user.super_admin? || current_user.super_user? #|| current_user.merchant_admin? %>
        <%= link_to 'BACK', entity_index_path(filter_main1: $merchant_filter.present? ? $merchant_filter.to_enum.to_h : "", count: params[:count], page: $entity_index_page), style: "width:120px;",
                    class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <% end %>
    </div>
    <div class="w3-half">
      <%= select_tag :count1, options_for_select([50, 100, 150, 200, 500], params[:count1].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "entity_divisions", :action => "entity_division_index",
                                                                  :params => {entity_code: params[:entity_code],
                                                                              service_filter: $service_filter.present? ? $service_filter.to_enum.to_h : "",
                                                                              count: params[:count], page: params[:page]})},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Service Name</th>
        <th>Activity Type</th>
        <th>Status</th>
        <th>Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @entity_divisions.each_with_index do |entity_division, ind| %>
      <% division_act_lov = DivisionActivityLov.where(division_code: entity_division.assigned_code, active_status: true) %>
        <% activity_div = ActivityDiv.where(division_code: entity_division.assigned_code, active_status: true) %>
        <% act_sub_div_class = ActivitySubDivClass.where(entity_div_code: entity_division.assigned_code, del_status: false) %>


          <tr>
            <td>
              <%= link_to 'VIEW', entity_division_path(entity_division, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]),
                            style: "width:60px; height: 30px;",
                            class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>

            <% if entity_division.activity_type.assigned_code == "SHW" || entity_division.activity_type.assigned_code == "SPO" %>
                <button id="navbardrop" data-toggle="dropdown" onclick="ticketDropdownControl('ticket-dropdown-id-<%= ind + 1 %>', 'division-dropdown-id-<%= ind + 1 %>'); return false;" class="w3-button div-dropdown-2 w3-white w3-border dropdown-toggle w3-border-purple w3-tiny w3-round-large" style="width:80px; height: 30px; color: #800754 !important">TICKETS</button>

                <div id="ticket-dropdown-id-<%= ind + 1 %>" class="dropdown-menu division-dropdown dropdown-menu-left">
                  <% if act_sub_div_class.exists? %>
                    <a class="dropdown-item" href= "<%= activity_sub_div_classes_path(code: entity_division.assigned_code, class_div_top: "class_div_top", entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true" ><strong>Ticket Types</strong></a>
                  <% else %>
                    <a class="dropdown-item" href= "<%= new_activity_sub_div_class_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true" ><strong>Ticket Types</strong></a>
                  <% end %>
                  <a class="dropdown-item" href="<%= activity_div_index_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>Activities</strong></a>
                </div>
                <%# if act_sub_div_class.exists? %>
                  <%#= link_to 'TICKET TYPES', activity_sub_div_classes_path(code: entity_division.assigned_code, class_div_top: "class_div_top", entity_code: params[:entity_code], count1: params[:count1], count: params[:count]),
                              style: "width:100px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <%# else %>
                  <%#= link_to 'TICKET TYPES', new_activity_sub_div_class_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]),
                              style: "width:100px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <%# end %>
            <% else %>
<!--                <button class="w3-button w3-purple-vpos w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">TICKET TYPES</button>-->
            <% end %>

            </td>
            <td><strong><%= entity_division.assigned_code %></strong></td>
<!--            <td><strong><%#= entity_division.division_name %> <%##= entity_division.division_alias %></strong></td>-->
            <td><strong><%= entity_division.division_name.length > 21 ? "#{entity_division.division_name[0..21]}.." : entity_division.division_name %></strong></td>

            <td><strong><%= entity_division.activity_type.activity_type_desc %> <%#= entity_info.entity_category.assigned_code %></strong></td>
            <% if entity_division.active_status %>
                <td><strong>Active</strong></td>
            <% else %>
                <td><strong>Inactive</strong></td>
            <% end %>
            <td><strong><%= entity_division.created_at %></strong></td>
            <td>
              <% if entity_division.active_status && entity_division.del_status == false %>

                <% if current_user.super_admin? || current_user.super_user? %>
                  <%= link_to 'SERVICE FEES', assigned_fee_index_path(entity_code: params[:entity_code], code: entity_division.assigned_code, count1: params[:count1], count: params[:count]),
                              style: "width:100px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% else %>
                  <%#= link_to 'ADD SERVICES', new_entity_division_path(entity_code: entity_info, interface_type: "info", count: params[:count], page: params[:page]),
                              style: "width:120px; height: 30px;",
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% end %>
                <% if entity_division.activity_type.assigned_code == "CHC" || entity_division.activity_type.assigned_code == "SCH" #|| entity_division.activity_type.assigned_code == "OMC" #|| entity_division.activity_type.assigned_code == "DON" || entity_division.activity_type.assigned_code == "GEN" %>
                  <%= link_to 'ACTIVITY CODE', entity_div_sub_activity_index_path(entity_code: params[:entity_code], code: entity_division.assigned_code, count1: params[:count1], count: params[:count]),
                              style: "width:110px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                <% else %>
                <% end %>
                <% if entity_division.activity_type.assigned_code == "SPO" %>

                  <!--                  <li class="nav-item dropdown">-->
                  <!--<i class="fas fa-angle-down"></i>-->
                  <!--                    <button class="nav-link text-light dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Setup </button>-->

                  <button id="navbardrop" data-toggle="dropdown" onclick="divisionDropdownControl('ticket-dropdown-id-<%= ind + 1 %>', 'division-dropdown-id-<%= ind + 1 %>'); return false;" class="w3-button div-dropdown-1 w3-white w3-border dropdown-toggle w3-border-purple w3-tiny w3-round-large" style="width:65px; height: 30px; color: #800754 !important">SETUP</button>

                  <div id="division-dropdown-id-<%= ind + 1 %>" class="dropdown-menu division-dropdown dropdown-menu-right">
                    <% if division_act_lov.exists? || activity_div.exists? %>
                      <a class="dropdown-item" href= "<%= division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                    <% else %>
                      <a class="dropdown-item" href= "<%= division_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                    <% end %>
                    <a class="dropdown-item" href="<%= sport_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>Add Fixtures</strong></a>
                  </div>

                  <!--                  </li>-->
                <% else %>
                  <% if entity_division.activity_type.assigned_code == "MIP" %>
                    <%= link_to 'SETUP', entity_admin_whitelist_index_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]),
                                style: "width:65px; height: 30px; color: #800754 !important",
                                class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                  <% else %>
                    <button id="navbardrop" data-toggle="dropdown" onclick="divisionDropdownControl('ticket-dropdown-id-<%= ind + 1 %>', 'division-dropdown-id-<%= ind + 1 %>'); return false;" class="w3-button div-dropdown-1 w3-white w3-border dropdown-toggle w3-border-purple w3-tiny w3-round-large" style="width:65px; height: 30px; color: #800754 !important">SETUP</button>

                    <div id="division-dropdown-id-<%= ind + 1 %>" class="dropdown-menu division-dropdown dropdown-menu-right">
                      <% if division_act_lov.exists? || activity_div.exists? %>
                        <a class="dropdown-item" href= "<%= division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                      <% else %>
                        <a class="dropdown-item" href= "<%= division_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]) %>" data-remote="true" ><strong>General Setup</strong></a>
                      <% end %>
                      <% if entity_division.activity_type.assigned_code == "MOP" || entity_division.activity_type.assigned_code == "HSP" %>
                        <a class="dropdown-item" href="<%= entity_admin_whitelist_index_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>WhiteList Merchant</strong></a>
                      <% end %>

                      <% if entity_division.activity_type.assigned_code == "SHW" %>
                        <% social_handle_state = EntityDivSocialHandle.where(entity_div_code: entity_division.assigned_code, del_status: false).first %>
                        <% media_state = EntityDivMedium.where(entity_div_code: entity_division.assigned_code, del_status: false).first %>
                        <% if social_handle_state || media_state %>
                          <a class="dropdown-item" href="<%= entity_div_media_index_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>Media</strong></a>
                        <% else %>
                          <a class="dropdown-item" href="<%= new_entity_div_medium_path(code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>Media</strong></a>
                        <% end %>
                      <% end %>

                        <a class="dropdown-item" href="<%= entity_div_alert_recipient_index_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count]) %>" data-remote="true"><strong>Merchant Notification</strong></a>
                    </div>


                    <%# if division_act_lov.exists? %>
                      <%#= link_to 'SETUP', division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], page1: params[:page1], count: params[:count], page: params[:page]),
                                  style: "width:65px; height: 30px; color: #800754 !important",
                                  class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>

                    <%# elsif activity_div.exists? %>
                      <%#= link_to 'SETUP', division_edit_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], page1: params[:page1], count: params[:count], page: params[:page]),
                                  style: "width:65px; height: 30px; color: #800754 !important",
                                  class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                    <%# else %>
                      <%#= link_to 'SETUP', division_setup_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], page1: params[:page1], count: params[:count], page: params[:page]),
                                  style: "width:65px; height: 30px; color: #800754 !important",
                                  class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
                    <%# end %>
                  <% end %>

                <% end %>

                  <%= link_to 'EDIT', edit_entity_division_path(entity_division, code: entity_division.assigned_code, entity_code: params[:entity_code], count1: params[:count1], count: params[:count], page: params[:page]),
                              style: "width:50px; height: 30px; color: #800754 !important",
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true %>
              <% else %>
                  <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">SERVICE FEES</button>
                <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:100px; height: 30px; color: #800754 !important">ACTIVITY CODE</button>
                <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:65px; height: 30px; color: #800754 !important">SETUP</button>
                  <button class="w3-button w3-white w3-border w3-disabled w3-border-purple w3-tiny w3-round-large" style="width:50px; height: 30px; color: #800754 !important">EDIT</button>
              <% end %>


              <% if entity_division.active_status %>
                  <%= link_to 'DISABLE', entity_division_path(entity_division, entity_code: params[:entity_code], service_filter: $service_filter.present? ? $service_filter.to_enum.to_h : "", count1: params[:count1], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px; color: #800754 !important",
                              method: :delete, data: { confirm: "Do you wish to disable: #{entity_division.division_name} (#{entity_division.division_alias})?" },
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% else %>
                  <%= link_to 'ENABLE', entity_division_path(entity_division, entity_code: params[:entity_code], service_filter: $service_filter.present? ? $service_filter.to_enum.to_h : "", count1: params[:count1], count: params[:count], page: params[:page]),
                              style: "width:80px; height: 30px;",
                              method: :delete, data: { confirm: "Do you wish to enable: #{entity_division.division_name} (#{entity_division.division_alias})?" },
                              class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% end %>

            </td>
          </tr>

      <% end %>


      </tbody>
    </table>
    <% unless params[:count1] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @entity_divisions, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "entity_divisions", :action => "entity_division_index", entity_code: params[:entity_code],
                                       service_filter: $service_filter.present? ? $service_filter.to_enum.to_h : "",
                                       count1: params[:count1], count: params[:count], page: params[:page] } %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
      </div>
    <% end %>
  </div>



</div>






<div class="w3-container" >
  <div id="service_filter" class="w3-modal w3-animate-opacity" style=" display: none">
    <span onclick="document.getElementById('service_filter').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>
    <%#= render 'form' %>

    <div class="">
      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Filter Services</strong></h4>
        <div id="entity_info_edit"></div>
        <%#= simple_form_for(@entity_info, :data => {  :remote => true, count: params[:count], page: params[:page]}) do |f| %>
        <%= simple_form_for :service_filter, :url => (entity_division_index_path(params[:entity_code], count: params[:count], page: params[:page])), :method => 'get', html: {class: 'form-horizontal'}, remote: true do |f| %>
          <div class="w3-container w3-border w3-border-purple">
            <br/>
            <input type="hidden" class="form-control" name="count" value="<%= params[:count] %>"/>
            <input type="hidden" class="form-control" name="page" value="<%= params[:page] %>"/>
            <input type="hidden" class="form-control" name="entity_code" value="<%= params[:entity_code] %>"/>
            <!--                    <input type="hidden" class="form-control" name="counter" value="<%#= params[:counter] %>"/>-->
            <!--                    <input type="hidden" class="form-control" name="pager" value="<%#= params[:pager] %>"/>-->
            <!--          <input type="hidden" class="form-control" name="entity_code" value="<%#= @entity_code %>"/>-->
            <!--          <input type="hidden" class="form-control" name="code" value="<%#= @code %>"/>-->
            <div class="">
              <div class="w3-half">
                <%= f.input :div_name, class: "form-control", collection: @service_division_names, label_method: :division_name, value_method: :assigned_code, input_html: {id: "id_division_name", style: "width: 90%;", autocomplete: "off"}, label: "Service Name", boolean_style: :inline %>
                <%#= f.input :div_alias, class: "form-control", collection: @service_division_alias, label_method: :division_alias, value_method: :assigned_code, input_html: {id: "id_division_alias", style: "width: 90%;", autocomplete: "off"}, label: "Service Alias", boolean_style: :inline %>
                <%= f.input :assign_code, class: "form-control", collection: @service_assigned_codes, label_method: :assigned_code, value_method: :assigned_code, input_html: {id: "id_division_ass", style: "width: 90%;", autocomplete: "off"}, label: "Assigned Code", boolean_style: :inline %>
              </div>

              <div class="w3-half">
                <%= f.input :activity_code, class: "form-control", collection: @activity_type_codes, label_method: :activity_type_desc, value_method: :assigned_code, input_html: {id: "id_activity_code", style: "width: 100%;", autocomplete: "off"}, label: "Activity Type", boolean_style: :inline %>
                <%#= f.input :serv_label, class: "form-control", input_html: {id: "id_service_label", style: "width: 100%;", autocomplete: "off"}, label: "Service Label", boolean_style: :inline %>
                <div class="w3-half">
                  <%= f.input :start_date, :id => "datepicker1", as: :date, html5: true, class: "form-control input-group date", label: "Start Date", boolean_style: :inline, input_html: {style: "width: 90%", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                </div>

                <div class="w3-half">
                  <%= f.input :end_date, :id => "datepicker2", as: :date, html5: true, class: "form-control", label: "End Date", boolean_style: :inline, input_html: {style: "", data: {behaviour: 'datepicker', provide: 'datepicker'}, autocomplete: "off"} %>
                </div>
              </div>


            </div>


            <br/>
          </div>

          <br>

          <div>
            <br><br>
            <%= f.submit "Filter", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Searching...'}, style: "width:auto;float:center;",remote:true %>
            <%#= link_to 'Back', entity_info_index_path(page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
            <button type="button" onclick="document.getElementById('service_filter').style.display='none'" class="w3-button w3-white w3-border w3-border-purple w3-small w3-round-large">Back</button>


            <br><br>
          </div>
        <% end %>


      </div>

    </div>


    <div class="col-md-7 col-md-offset-5">
    </div>

    <br/>
    <div class="col-md-7 col-md-offset-5">
      <br/>
      <br/>
    </div>
    <!--</div>-->

  </div>
</div>








<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')

    });

    function ticketDropdownControl(ticketDropdownId, divisionDropdownId) {
        console.log("Ticket Dropdown");
        let ticket_dropdown_id = $('#' + ticketDropdownId);
        // $('.division-dropdown').toggle();
        ticket_dropdown_id.toggle();
        $('#' + divisionDropdownId).hide();
        ticket_dropdown_id.addClass("dropdown-menu-left");
        ticket_dropdown_id.removeClass("dropdown-menu-right");
    }

    function divisionDropdownControl(ticketDropdownId, divisionDropdownId) {
        console.log("Division Dropdown");
        let div_dropdown_id = $('#' + divisionDropdownId);
        // $('.division-dropdown').toggle();
        div_dropdown_id.toggle();
        $('#' + ticketDropdownId).hide();
        div_dropdown_id.addClass("dropdown-menu-right");
        div_dropdown_id.removeClass("dropdown-menu-left");
    }

    // $('.div-dropdown-2').click(function() {
    //     console.log("Ticket Dropdown");
    //     let ticket_dropdown_id = $('#' + ticketDropdownId);
    //     ticket_dropdown_id.toggle();
    //     $('#' + divisionDropdownId).hide();
    //     ticket_dropdown_id.addClass("dropdown-menu-left");
    //     ticket_dropdown_id.removeClass("dropdown-menu-right");
    // });

    // $('.div-dropdown-1').click(function() {
    //     console.log("Division Dropdown");
    //     let div_dropdown_id = $('#division-dropdown-id');
    //     div_dropdown_id.toggle();
    //     $('#ticket-dropdown-id').hide();
    //     div_dropdown_id.addClass("dropdown-menu-right");
    //     div_dropdown_id.removeClass("dropdown-menu-left");
    // });

</script>

<!--<script>-->
<!--  // EPIGRAM ON FAILURE-->
<!--    function sum1(string) {-->
<!--        const VOWELS = ["a", "e", "i", "o", "u"];-->
<!--        return (-->
<!--            string-->
<!--                .replace(/[^a-zA-Z]*/g, "")-->
<!--                .split("")-->
<!--                .reduce((acc, char, array) => {-->
<!--                    return acc + char.charCodeAt(0) * (isVowel() ? -1 : 1);-->

<!--                    function isVowel() {-->
<!--                        return VOWELS.includes(char);-->
<!--                    }-->
<!--                }, 0)-->
<!--        );-->
<!--    }-->

<!--    // require("assert").equal(sum("iffy"), 220);-->
<!--  // console.log("================================================================================");-->
<!--  // console.log(-->
<!--  //     sum1(-->
<!--  //         "Dealing with failure is easy: Work hard to improve. Success is also easy to handle: You’ve solved the wrong problem. Work hard to improve."-->
<!--  //     )-->
<!--  // );-->



<!--  // FIBONACCI-->
<!--  function sumFibonacci(num) {-->
<!--      // x[i-2]-->
<!--      let fib0 = 0;-->
<!--      // x[i-1]-->
<!--      let fib1 = 1;-->
<!--      // x[i]-->
<!--      let fib = 1;-->
<!--      let sum = fib0;-->
<!--      while (fib < num) {-->
<!--          if (isOdd(fib)) {-->
<!--              sum += fib1;-->
<!--          }-->
<!--          fib = fib0 + fib1;-->
<!--          fib1 += fib0;-->
<!--          fib0 = fib1 - fib0;-->
<!--      }-->

<!--      return sum;-->

<!--      function isOdd(n) {-->
<!--          return n % 2;-->
<!--      }-->
<!--  }-->

<!--  // console.log(sumFibonacci(10000));-->



<!--  // LEGIONARIES-->
<!--    function sum(max) {-->
<!--        let count = 0;-->
<!--        for (let i = 1; i <= max; i++) {-->
<!--            const roman = toRoman(i);-->
<!--            roman.replace(/X/g, () => {-->
<!--                count++;-->
<!--            });-->
<!--        }-->

<!--        return count;-->

<!--        function toRoman(num) {-->
<!--            if (typeof num !== "number") throw Error();-->

<!--            const digits = String(num).split("");-->
<!--            const key = [-->
<!--                "",-->
<!--                "C",-->
<!--                "CC",-->
<!--                "CCC",-->
<!--                "CD",-->
<!--                "D",-->
<!--                "DC",-->
<!--                "DCC",-->
<!--                "DCCC",-->
<!--                "CM",-->
<!--                "",-->
<!--                "X",-->
<!--                "XX",-->
<!--                "XXX",-->
<!--                "XL",-->
<!--                "L",-->
<!--                "LX",-->
<!--                "LXX",-->
<!--                "LXXX",-->
<!--                "XC",-->
<!--                "",-->
<!--                "I",-->
<!--                "II",-->
<!--                "III",-->
<!--                "IV",-->
<!--                "V",-->
<!--                "VI",-->
<!--                "VII",-->
<!--                "VIII",-->
<!--                "IX"-->
<!--            ];-->
<!--            let roman_num = "";-->
<!--            let i = 3;-->
<!--            while (i--) {-->
<!--                roman_num = (key[+digits.pop() + i * 10] || "") + roman_num;-->
<!--            }-->
<!--            return Array(+digits.join("") + 1).join("M") + roman_num;-->
<!--        }-->
<!--    }-->

<!--    // console.log(sum(2660));-->
<!--</script>-->