

<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
<!--    <br/>-->

    <div class="">

      <% if @display != nil %>
          <div class="w3-white w3-hover-shadow col-md-8 offset-md-2 w3-card-4 w3-border w3-border-purple rcorners w3-center">
            <h4 class="show w3-center"><strong>Merchant Service Details</strong></h4>
            <p id="notice2"><strong></strong></p>

            <div class="w3-container">
              <br/>

              <% assigned_service = @entity_division.assigned_service_codes != nil ? @entity_division.assigned_service_codes.where(active_status: true, del_status: false).order("assigned_service_code.created_at desc").first : false %>
              <%  %>
              <div class="w3-container w3-responsive pre-scrollable w3-mobile">
                <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">

                </table>

              </div>

              <br/>
              <div class="w3-center">
                <%= link_to 'Back', entity_division_index_path(entity_code: params[:entity_code], page: params[:page], count: params[:count]), class: 'w3-bar-item w3-btn w3-ripple w3-round-large w3-dark-gray', remote: true %>
              </div>
              <br/>
            </div>

          </div>
      <% else %>
          <div class="w3-white w3-hover-shadow col-md-8 offset-md-2 w3-card-4 w3-border w3-border-purple rcorners w3-center">
            <h4 class="show w3-center"><strong>Merchant Service Details</strong></h4>
            <p id="notice2"><strong></strong></p>

            <div class="w3-container">
              <br/>

              <% assigned_service = @entity_division.assigned_service_codes != nil ? @entity_division.assigned_service_codes.where(active_status: true, del_status: false).order("assigned_service_code.created_at desc").first : false %>
              <%  %>
              <div class="w3-container w3-responsive pre-scrollable w3-mobile">
                <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Service Name:</strong></td>
                    <td><strong><%= @entity_division.division_name %> (<%= @entity_division.division_alias %>)</strong></td>
                  </tr>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Location:</strong></td>
                    <td><strong>
                      <% if @entity_division.suburb_id.present? %>
                          <%= @entity_division.suburb_master.a_city.a_region.region_name %>
                          (<%= @entity_division.suburb_master.a_city.city_town_name %> -
                          <%= @entity_division.suburb_master.suburb_name %>)
                      <% end %>
                    </strong></td>
                  </tr>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Activity Type:</strong></td>
                    <td><strong><%= @entity_division.activity_type.activity_type_desc %></strong></td>
                  </tr>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Service Name:</strong></td>
                    <td><strong><%= @entity_division.service_label %></strong></td>
                  </tr>
                  <% if assigned_service %>
                      <tr>
                        <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Short Code Ext:</strong></td>
                        <td><strong><%= assigned_service.service_code %></strong></td>
                      </tr>

                  <% end %>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Status:</strong></td>
                    <% if @entity_division.active_status %>
                        <td><strong>Active</strong></td>
                    <% else %>
                        <td><strong>Inactive</strong></td>
                    <% end %>
                  </tr>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Comment:</strong></td>
                    <td><strong><%= @entity_division.comment %></strong></td>
                  </tr>

                  <tr>
                    <td class="raw_theme w3-border w3-border-black w3-leftbar"><strong>Date:</strong></td>
                    <td>
                      <strong><%= @entity_division.created_at %></strong>
                    </td>
                  </tr>

                </table>
              </div>
              <% @service_account = EntityServiceAccount.where(entity_div_code: @entity_division.assigned_code).order(created_at: :desc).first %>
              <% @service_account_details = EntityServiceAccountTrxn.where(entity_div_code: @entity_division.assigned_code).order(created_at: :desc) %>


              <% if @service_account %>
                <br/><br/>
                <div class="w3-container w3-responsive pre-scrollable w3-mobile table-responsive-md">

                  <table class=" w3-responsive table-striped w3-table-all table-bordered w3-hoverable w3-card-4">
                    <thead>

                    <tr>
                      <th class="w3-topbar" colspan="2"></th>
                      <th class="w3-topbar" colspan="2">GROSS BALANCE</th>
                      <th class="w3-topbar" colspan="2">NET BALANCE</th>
                      <th class="w3-topbar" colspan="2"></th>
                    </tr>

                    <tr>
                      <td class="" colspan="2"></td>
                      <td class="" colspan="2"><%= @service_account.gross_bal %></td>
                      <td class="" colspan="2"><%= @service_account.net_bal %></td>
                      <td class="" colspan="2"></td>
                    </tr>

                    <tr class="w3-vpos-purple">
                      <th>No.</th>
                      <th>Trans. ID</th>
                      <th>Gross Bal (Before)</th>
                      <th>Gross Bal (After)</th>
                      <th>Net Bal (Before)</th>
                      <th>Net Bal (After)</th>
                      <th>Charges</th>
                      <th>Trans Type</th>
<!--                      <th></th>-->
                    </tr>
                    </thead>
                    <tbody>

                    <% @service_account_details.each_with_index do |acount_details, num| %>
                    <tr>
                      <td><%= num + 1 %></td>
                      <td><%= acount_details.processing_id %></td>
                      <td><%= acount_details.gross_bal_bef %></td>
                      <td><%= acount_details.gross_bal_aft %></td>
                      <td><%= acount_details.net_bal_bef %></td>
                      <td><%= acount_details.net_bal_aft %></td>
                      <td><%= acount_details.charge %></td>
                      <td><%= acount_details.trans_type %></td>

                    </tr>

                    <% end %>
                    </tbody>
                  </table>

                </div>
                <% end %>


              <br/>
              <div class="w3-center">
                <%= link_to 'Back', entity_division_index_path(entity_code: params[:entity_code], page: params[:page], count: params[:count]), class: 'w3-bar-item w3-btn w3-ripple w3-round-large w3-dark-gray', remote: true %>
              </div>
              <br/>
            </div>

          </div>

      <% end %>

      <br/>
    </div>

    <!--</div>-->

  </div>
  <br/>
  <div class="col-md-7 offset-md-5">
    <br><br>
  </div>
</div>







