<p id="notice"><%= notice %></p>

<p>
  <strong>Entity code:</strong>
  <%= @entity_division.entity_code %>
</p>

<p>
  <strong>Assigned code:</strong>
  <%= @entity_division.assigned_code %>
</p>

<p>
  <strong>Division name:</strong>
  <%= @entity_division.division_name %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @entity_division.suburb_id %>
</p>

<p>
  <strong>Activity code:</strong>
  <%= @entity_division.activity_code %>
</p>

<p>
  <strong>Service label:</strong>
  <%= @entity_division.service_label %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @entity_division.comment %>
</p>

<p>
  <strong>Active status:</strong>
  <%= @entity_division.active_status %>
</p>

<p>
  <strong>Del status:</strong>
  <%= @entity_division.del_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @entity_division.user_id %>
</p>

<%= link_to 'Edit', edit_entity_division_path(@entity_division) %> |
<%= link_to 'Back', entity_divisions_path %>
