<div id="<%= dom_id client_webhook_config %>">
  <p>
    <strong>Entity div code:</strong>
    <%= client_webhook_config.entity_div_code %>
  </p>

  <p>
    <strong>Trans type:</strong>
    <%= client_webhook_config.trans_type %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= client_webhook_config.url %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= client_webhook_config.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= client_webhook_config.del_status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= client_webhook_config.user_id %>
  </p>

</div>
