
<div>
  <br>
  <p id="notes1"><%#= notice %></p>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_client_webhook_config_path(count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
    </div>
    <div class="w3-half">
      <%= select_tag :count, options_for_select([50, 100, 150, 200, 500], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "client_webhook_configs", :action => "client_webhook_index")},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Division Name</th>
        <th>Trans Type</th>
        <th>Status</th>
        <th>Date</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @client_webhook_configs.each do |client_webhook_config| %>

        <tr>
          <td><%= link_to 'VIEW', client_webhook_config_path(client_webhook_config, count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px;",
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true %></td>
          <td><strong><%= client_webhook_config.entity_division.division_name if client_webhook_config.entity_division %></strong></td>
          <td><strong><%= client_webhook_config.trans_type %></strong></td>

          <% if client_webhook_config.active_status %>
            <td><strong>Active</strong></td>
          <% else %>
            <td><strong>Inactive</strong></td>
          <% end %>
          <td><strong><%= client_webhook_config.created_at %></strong></td>
          <td>
            <%= link_to 'EDIT', edit_client_webhook_config_path(client_webhook_config, count: params[:count], page: params[:page]),
                        style: "width:100px; height: 30px; color: #800754 !important",
                        class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% if client_webhook_config.active_status %>
              <%= link_to 'DISABLE', client_webhook_config_path(client_webhook_config, count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px; color: #800754 !important",
                          method: :delete, data: { confirm: "Do you wish to disable: #{client_webhook_config.entity_division.division_name if client_webhook_config.entity_division} webhook?" },
                          class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% else %>
              <%= link_to 'ENABLE', client_webhook_config_path(client_webhook_config, count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px;",
                          method: :delete, data: { confirm: "Do you wish to enable: #{client_webhook_config.entity_division.division_name if client_webhook_config.entity_division} webhook?" },
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% end %>

          </td>
        </tr>

      <% end %>

      </tbody>
    </table>
    <% unless params[:count] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @client_webhook_configs, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "client_webhook_configs", :action => "client_webhook_index", count: params[:count], page: params[:page] } %>
      </div>
    <% end %>
  </div>


</div>


<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
