<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Client Webhook Details</strong></h4>
        <p id="notice1"><strong></strong></p>
        <div class="w3-container">
          <br/>

          <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Division Name:</strong></td>
              <td><strong><%= @client_webhook_config.entity_division.division_name if @client_webhook_config.entity_division %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Trans Type:</strong></td>
              <td><strong><%= @client_webhook_config.trans_type %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Url:</strong></td>
              <td><strong><%= @client_webhook_config.url %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Status:</strong></td>
              <% if @client_webhook_config.active_status %>
                <td><strong>Active</strong></td>
              <% else %>
                <td><strong>Inactive</strong></td>
              <% end %>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Creator:</strong></td>
              <td><strong><%= @client_webhook_config.users.user_name if @client_webhook_config.users %></strong></td>
            </tr>


            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Date:</strong></td>
              <td>
                <strong><%= @client_webhook_config.created_at %></strong>
              </td>
            </tr>

          </table>

          <br/>
          <div class="w3-center">
            <%#= link_to 'Back',  client_webhook_index_path(page: params[:page], count: params[:count]), class: 'w3-bar-item w3-btn w3-ripple w3-round-large w3-dark-gray', remote: true %>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-bar-item w3-btn w3-ripple w3-round-large w3-dark-gray" >Back</span>

          </div>
          <br/>
        </div>

      </div>

    </div>

    <!--</div>-->

  </div>
</div>



<!--<p style="color: green"><%#= notice %></p>-->

<%#= render @client_webhook_config %>

<!--<div>-->
<!--  <%#= link_to "Edit this client webhook config", edit_client_webhook_config_path(@client_webhook_config) %> |-->
  <%#= link_to "Back to client webhook configs", client_webhook_configs_path %>

  <%#= button_to "Destroy this client webhook config", @client_webhook_config, method: :delete %>
<!--</div>-->
