
<div>
  <br>
  <p id="notes8"><%#= notice %></p>
  <h4>Fixtures for <%= @entity_name %></h4>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_activity_fixture_path(entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
      <%= link_to 'BACK', main_sports_index_path(params[:entity_code], code: params[:code], count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-white w3-border w3-border-purple w3-small w3-round-large',remote:true %>
    </div>
    <div class="w3-half">
      <%= select_tag :count, options_for_select([50, 100, 150, 200, 500], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "activity_fixtures", :action => "activity_fixture_index", :params => {code: params[:code],entity_code: params[:entity_code]})},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Home Team VS. Away Team</th>
<!--        <th>Away Team</th>-->
        <th>Sports Category</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>


      <% @activity_fixtures.each do |activity_fixture| %>
        <tr>
          <td><%= link_to 'VIEW', activity_fixture_path(activity_fixture, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                          style: "width:70px; height: 30px;",
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%></td>
          <td><strong><%= activity_fixture.activity_participanta.participant_name %> vs. <%= activity_fixture.activity_participantb.participant_name %></td>
<!--          <td><strong><%#= activity_fixture.activity_participant_b.participant_name %></td>-->
          <td><strong><%= activity_fixture.activity_category_div.category_div_desc if activity_fixture.activity_category_div_id.present? %></td>
          <% if activity_fixture.active_status %>
            <td><strong>Active</strong></td>
          <% else %>
            <td><strong>Inactive</strong></td>
          <% end %>
          <td><strong><%= activity_fixture.created_at %></strong></td>
          <td>
            <%= link_to 'EDIT', edit_activity_fixture_path(activity_fixture, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                        style: "width:70px; height: 30px; color: #800754 !important",
                        class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true %>
            <% if activity_fixture.active_status %>
              <%= link_to 'DISABLE', activity_fixture_path(activity_fixture, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                          style: "width:80px; height: 30px; color: #800754 !important",
                          method: :delete, data: { confirm: "Do you wish to disable: #{activity_fixture.activity_participanta.participant_name} vs. #{activity_fixture.activity_participantb.participant_name}?" },
                          class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true %>
            <% else %>
              <%= link_to 'ENABLE', activity_fixture_path(activity_fixture, entity_code: params[:entity_code], code: params[:code], count: params[:count], page: params[:page]),
                          style: "width:80px; height: 30px;",
                          method: :delete, data: { confirm: "Do you wish to enable: #{activity_fixture.activity_participanta.participant_name} vs. #{activity_fixture.activity_participantb.participant_name}?" },
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true %>
            <% end %>

          </td>
        </tr>

      <% end %>

      </tbody>

    </table>
    <% unless params[:count] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @activity_fixtures, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "activity_fixtures", :action => "activity_fixture_index", count: params[:count], page: params[:page] } %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
      </div>
    <% end %>
  </div>


</div>


<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>


