


<div class="">

  <div class="w3-white w3-hover-shadow col-md-4 offset-md-4 w3-card-4 w3-border w3-border-purple rcorners w3-center">
    <h4 class="show w3-center"><strong>New Suburb</strong></h4>

    <div class="">
      <br/>
      <%= simple_form_for(@suburb_master, :data => {  :remote => true, count: params[:count], page: params[:page]}) do |f| %>
          <%= f.error_notification %>
          <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :region_name, label: "Region", collection: @region_masters, label_method: :region_name, value_method: :id, required: true, input_html:{id: "for_region", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

          <%= f.input :city_town_id, label: "City", collection: @city_town_masters, label_method: :city_town_name, value_method: :id, required: true, input_html:{id: "for_city", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

          <%= f.input :suburb_name, label: "Suburb", label_method: :suburb_name, value_method: :id, required: true, input_html:{id: "id_suburb", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

          <%= f.input :comment, label: "Comment", :as => :text, value_method: :id, required: false, input_html:{rows: 5, cols: 3, autocomplete: "off",class:"form-control w3-border ",style:""}  %>

          <%= f.input :active_status, :as => :hidden, input_html:{value: true} %>
          <%#= f.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>
          <div>
            <%= f.submit "Submit", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Please Wait...'}, style: "width:auto;float:center;",remote:true %>
            <%= link_to 'Back', suburb_master_index_path(page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
          </div>
      <% end %>
      <br/>
    </div>

  </div>

</div>


<div class="col-md-7 col-md-offset-5">
</div>





<script>

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        var region_id = $('#for_region');
        var city_id = $("#for_city");
//        city_id.empty();

//    district_id.attr("title", "First select a district!");
        city_id.attr("title", "Secondly select a city after region selection!");
        var mydata = {
            thing: {
                id_for_region: region_id.val()
            }};

        region_id.change(function() {
            console.log("For region id:: " + region_id.val());
//      $('[data-toggle="tooltip"]').tooltip();
//      city_id.attr("disabled", false);
            city_id.attr("title", "Now select a city/town!");

//            Rails.ajax({
//                type: "POST",
//                url: "<%#= suburb_city_ajax_call_path %>",
//                data: "id_for_region=" + region_id.val(),
//                dataType: "script"
//            })

            fetch("<%= suburb_city_ajax_call_path %>", {
                method: 'post',
                body: JSON.stringify({id_for_region: region_id.val()}),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': Rails.csrfToken()
                },
                dataType: "script",
                credentials: 'same-origin'
            }).then(function(response) {
                return response.json();
            }).then(function(data) {
                console.log(data);
            });


        });
    });

</script>





