
<div>
  <br>
  <p id="notes3"><%#= notice %></p>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_suburb_master_path(count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
    </div>
    <div class="w3-half">
      <%= select_tag :count, options_for_select([50, 100, 150, 200, 500], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "suburb_masters", :action => "suburb_master_index")},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Suburb (City)</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>

      <% @suburb_masters.each do |suburb_master| %>

          <tr>
            <td><%= link_to 'VIEW', suburb_master_path(suburb_master, count: params[:count], page: params[:page]),
                            style: "width:100px; height: 30px;",
                            class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%></td>
            <td><strong><%= suburb_master.suburb_name %> (<%= suburb_master.a_city.city_town_name %>)</strong></td>
            <% if suburb_master.active_status %>
                <td><strong>Active</strong></td>
            <% else %>
                <td><strong>Inactive</strong></td>
            <% end %>
            <td><strong><%= suburb_master.created_at %></strong></td>
            <td>
              <%= link_to 'EDIT', edit_suburb_master_path(suburb_master, count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px; color: #800754 !important",
                          class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% if suburb_master.active_status %>
                  <%= link_to 'DISABLE', suburb_master_path(suburb_master, count: params[:count], page: params[:page]),
                              style: "width:100px; height: 30px; color: #800754 !important",
                              method: :delete, data: { confirm: "Do you wish to disable: #{suburb_master.suburb_name}?" },
                              class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% else %>
                  <%= link_to 'ENABLE', suburb_master_path(suburb_master, count: params[:count], page: params[:page]),
                              style: "width:100px; height: 30px;",
                              method: :delete, data: { confirm: "Do you wish to enable: #{suburb_master.suburb_name}?" },
                              class: 'w3-button w3-vpos-purple w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
              <% end %>

            </td>
          </tr>

      <% end %>

      </tbody>
    </table>
    <% unless params[:count] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @suburb_masters, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "suburb_masters", :action => "suburb_master_index", count: params[:count], page: params[:page] } %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
      </div>
    <% end %>
  </div>


</div>



<script>
  $(function(){
    $('.pagination a').attr('data-remote', 'true')
  });

</script>
