

<div class="">

  <div class="w3-white w3-hover-shadow col-md-4 offset-md-4 w3-card-4 w3-border w3-border-purple rcorners w3-center">
    <h4 class="show w3-center"><strong>New Activity Code</strong></h4>

    <div class="w3-container">
      <br/>
      <%= simple_form_for(@entity_div_sub_activity, url: entity_div_sub_activities_path(@entity_div_sub_activity, code: params[:code], entity_code: params[:entity_code], count: params[:count], page: params[:page] ),:remote => true) do |f| %>
        <%#= simple_form_for(@entity_div_sub_activity, :data => {  :remote => true, count: params[:count], page: params[:page]}) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <%= f.input :sub_activity_code, collection: @sub_activity_masters,  label: "Activity Code", label_method: :sub_activity_name, value_method: :assigned_code, required: true, input_html:{id: "sub_activity_code", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

        <%= f.input :div_sub_activity_desc,  label: "Type Description", value_method: :id, required: true, input_html:{id: "for_code_desc", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

        <%= f.input :entity_div_code, :as => :hidden, input_html:{value: params[:code]} %>
        <%= f.input :active_status, :as => :hidden, input_html:{value: true} %>
        <%= f.input :del_status, :as => :hidden, input_html:{value: false} %>
        <%= f.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>
        <div>
          <%= f.submit "Submit", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Please Wait...'}, style: "width:auto;float:center;",remote:true %>
          <%= link_to 'Back', entity_div_sub_activity_index_path(entity_code: params[:entity_code], code: params[:code], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
        </div>
      <% end %>
      <br/>
    </div>

  </div>

</div>


<div class="col-md-7 col-md-offset-5">
</div>




