

<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-4 offset-md-4 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <h4 class="show w3-center"><strong>Edit City</strong></h4>

        <div class="">
          <br/>
          <%= simple_form_for(@city_town_master, :data => {  :remote => true, count: params[:count], page: params[:page]}) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <%= f.input :region_id,  label: "Region", collection: @region_masters, label_method: :region_name, value_method: :id, required: true, input_html:{id: "id_region", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

              <%= f.input :city_town_name,  label: "City", value_method: :id, required: true, input_html:{id: "id_city", autocomplete: "off",class:"form-control w3-input w3-border w3-white input-group input-append",style:""}  %>

              <%= f.input :comment,  label: "Comment", :as => :text, value_method: :id, required: true, input_html:{rows: 5, cols: 3, autocomplete: "off",class:"form-control w3-border ",style:""}  %>

              <%= f.input :active_status, :as => :hidden, input_html:{value: true} %>
              <%#= f.input :user_id, :as => :hidden, input_html:{value: current_user.id} %>
              <div>
                <%= f.submit "Submit", class: "w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large", :data => {:disable_with => 'Please Wait...'}, style: "width:auto;float:center;",remote:true %>
                <%= link_to 'Back', city_town_master_index_path(page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
              </div>
          <% end %>
          <br/>
        </div>


      </div>

    </div>


    <div class="col-md-7 col-md-offset-5">
    </div>

    <br/>
    <div class="col-md-7 col-md-offset-5">
      <br/>
      <br/>
    </div>
    <!--</div>-->

  </div>
</div>