<div id="<%= dom_id entity_div_ref_lookup %>">
  <p>
    <strong>Entity div code:</strong>
    <%= entity_div_ref_lookup.entity_div_code %>
  </p>

  <p>
    <strong>Pan:</strong>
    <%= entity_div_ref_lookup.pan %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entity_div_ref_lookup.name %>
  </p>

  <p>
    <strong>Active status:</strong>
    <%= entity_div_ref_lookup.active_status %>
  </p>

  <p>
    <strong>Del status:</strong>
    <%= entity_div_ref_lookup.del_status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= entity_div_ref_lookup.user_id %>
  </p>

</div>
