<div class="w3-container" >
  <div id="id01" class="w3-modal w3-animate-opacity" style=" display: block">
    <!--<div class="w3-modal-content w3-card-4" >-->
    <br/>

    <div class="">

      <div class="w3-white w3-hover-shadow col-md-6 offset-md-3 w3-card-4 w3-border w3-border-purple rcorners w3-center">
        <% social_media_handle = EntityDivSocialHandle.media_handle_desc(@entity_div_social_handle.assigned_code) %>
        <h4 class="show w3-center"><strong><%= social_media_handle %> Details</strong></h4>
        <p id="show_handle_note"><strong></strong></p>
        <div class="w3-container">
          <br/>

          <table class="w3-table-all table table-bordered w3-hoverable w3-card-4">

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Social Media:</strong></td>
              <td><strong><%= social_media_handle %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Media Code:</strong></td>
              <td><strong><%= @entity_div_social_handle.assigned_code %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Handle:</strong></td>
              <td><strong><%= @entity_div_social_handle.handle %></strong></td>
            </tr>

            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Status:</strong></td>

              <% if @entity_div_social_handle.active_status %>
                <td><strong>Active</strong></td>
              <% else %>
                <td><strong>Inactive</strong></td>
              <% end %>
            </tr>


            <tr>
              <td class="raw_theme w3-border cell-cust-grad w3-leftbar"><strong>Date:</strong></td>
              <td>
                <strong><%= @entity_div_social_handle.created_at %></strong>
              </td>
            </tr>

          </table>

          <br/>
          <div class="w3-center">
            <%= link_to 'Back', entity_div_social_handle_index_path(code: params[:code], entity_code: params[:entity_code], service_filter: $service_filter.present? ? $service_filter.to_enum.to_h : "", count1: params[:count1], page1: params[:page1], page: params[:page], count: params[:count]), class: "w3-button w3-white w3-border w3-border-purple w3-small w3-round-large",remote:true %>
          </div>
          <br/>
        </div>

      </div>

    </div>

    <!--</div>-->

  </div>
</div>
