<p id="notice"><%= notice %></p>

<h1>Entity Div Social Handles</h1>

<table>
  <thead>
    <tr>
      <th>Entity div code</th>
      <th>Assigned code</th>
      <th>Handle</th>
      <th>Active status</th>
      <th>Del status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entity_div_social_handles.each do |entity_div_social_handle| %>
      <tr>
        <td><%= entity_div_social_handle.entity_div_code %></td>
        <td><%= entity_div_social_handle.assigned_code %></td>
        <td><%= entity_div_social_handle.handle %></td>
        <td><%= entity_div_social_handle.active_status %></td>
        <td><%= entity_div_social_handle.del_status %></td>
        <td><%= entity_div_social_handle.user_id %></td>
        <td><%= link_to 'Show', entity_div_social_handle %></td>
        <td><%= link_to 'Edit', edit_entity_div_social_handle_path(entity_div_social_handle) %></td>
        <td><%= link_to 'Destroy', entity_div_social_handle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity Div Social Handle', new_entity_div_social_handle_path %>
