
<div>
  <br>
  <p id="notes1"><%#= notice %></p>
  <br>
  <div>
    <div class="w3-half">
      <%= link_to 'NEW', new_sub_activity_master_path(count: params[:count], page: params[:page]), style: "width:120px;",
                  class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-small w3-round-large',remote:true %>
    </div>
    <div class="w3-half">
      <%= select_tag :count, options_for_select([50, 100, 150, 200, 500], params[:count].to_i),
                     :data => {  :remote => true, :url => url_for(:controller => "sub_activity_masters", :action => "sub_activity_master_index")},
                     id:"record", class: "w3-button w3-white w3-border w3-border-purple w3-round-large",
                     style: "width:auto; height:35px; float:right", remote:true %>

    </div>
  </div>
  <br>
  <div class="table-responsive-md">
    <br>
    <table class="table w3-responsive table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Code desc</th>
        <th>Assigned Code</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @sub_activity_masters.each do |sub_activity_master| %>
        <tr>
          <td><%= link_to 'VIEW', sub_activity_master_path(sub_activity_master, count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px;",
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%></td>
          <td><strong><%= sub_activity_master.assigned_code %></td>
          <td><strong><%= sub_activity_master.activity_desc %></td>
          <% if sub_activity_master.active_status %>
            <td><strong>Active</strong></td>
          <% else %>
            <td><strong>Inactive</strong></td>
          <% end %>
          <td><strong><%= sub_activity_master.created_at %></strong></td>
          <td>
            <%= link_to 'EDIT', edit_sub_activity_master_path(sub_activity_master, count: params[:count], page: params[:page]),
                        style: "width:100px; height: 30px; color: #800754 !important",
                        class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% if sub_activity_master.active_status %>
              <%= link_to 'DISABLE', sub_activity_master_path(sub_activity_master, count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px; color: #800754 !important",
                          method: :delete, data: { confirm: "Do you wish to disable: #{sub_activity_master.activity_desc}?" },
                          class: 'w3-button w3-white w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% else %>
              <%= link_to 'ENABLE', sub_activity_master_path(sub_activity_master, count: params[:count], page: params[:page]),
                          style: "width:100px; height: 30px;",
                          method: :delete, data: { confirm: "Do you wish to enable: #{sub_activity_master.activity_desc}?" },
                          class: 'w3-button w3-purple-vpos w3-border w3-border-purple w3-tiny w3-round-large', remote:true%>
            <% end %>
            <% logger.info "Trial" %>
          </td>
        </tr>

      <% end %>

      </tbody>
    </table>
    <% unless params[:count] == "All" %>
      <div class="flickr_pagination"  style="float: right">
        <%= will_paginate @sub_activity_masters, class: "w3-card", renderer: BootstrapPagination::Rails,
                          :params => { :controller => "sub_activity_masters", :action => "sub_activity_master_index", count: params[:count], page: params[:page] } %>
        <%#= js_will_paginate @payment_infos, :params => { :controller => "payment_infos", :action => "payment_info_index" } %>
      </div>
    <% end %>
  </div>

</div>


<script>
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

</script>
